.footer{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "titulo titulo"
    "icones icones";
    
}
.final{
    background-color: rgb(33, 33, 35);
    height: 100px;
}
.titulo{
    grid-area: titulo;
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue', cursiva;
    font-style: italic;
    font-size: 25px;
    color: white;
}
.logos{
    grid-area: icones;
    display: flex;
    justify-content: center;
    gap: 500px;
    color: white;
    font-size: 30px;
}
.barra{
    height: 3px;
    width: 100%;
    background-color: white;
}
.creditos{
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5px;
}
@media(max-width:640px){
    footer{
        width: 100%;
    }
    .logos{
        gap: 50px;
    }
    .creditos{
        font-size: 12px;
    }

}
