body {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    overflow-x: hidden;
}
header {
    grid-area: header;
    max-width: 1200px;
    width: 100%;
}
main {
    grid-area: main;
    
}
section{
    height: 100vh;
}
footer {
    grid-area: footer;
}


