.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: #0005;
    color: var(--cor-primaria);
    font-size: 1.25rem;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--cor-cinza-mais-escuro);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 1rem;
}

.linha {
    position: absolute;
    width: 100%;
    top: 0;
    border: 1px solid var(--cor-marrom);
}

.dropdown-content a {
    float: none;
    color: var(--cor-primaria);
    text-decoration: none;
    display: block;
    text-align: left;
  padding: 18px 50px 18px 16px;
}  

.dropdown-content a:hover {
    background-color: var(--cor-cinza-escuro);
    color: var(--cor-primaria);
}

.dropdown:hover .dropdown-content {
    display: block;
}