.header {
    grid-area: content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    place-self: start center;
    width: 100%;
    background-color: #0005;
    padding: 22px 135px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.logo p {
    color: var(--cor-primaria);
    font-size: 1.5rem;
}

.logo img {
    height: 32px;
    width: 32px;
}

.menu ul {
    color: var(--cor-primaria);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 31px;
}