:root {
    --cor-marrom: #C59D5F;
    --cor-marrom-escuro: #816334;
    --cor-icone: #6B6464;
    --cor-cinza-escuro: #191919;
    --cor-cinza-mais-escuro: #222222; 
    --cor-primaria: #ffffff;
}

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    place-items: center;
    font-family: 'Roboto', sans-serif;
}

header {
    grid-area: header;
    width: 100%;
    display: grid;
    grid-template-areas: 
        "content";
    background-color: #0005;
}

main {
    grid-area: main;
    width: 100%;
    /* background-color: rebeccapurple; */
}

footer {
    grid-area: footer;
    width: 100%;
    padding: 0px 15px;
    background-color: var(--cor-cinza-escuro);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 135px 135px 135px;
}

.direitos {
    grid-area: footer;
    place-self: end;
    width: 100%;
    background-color: #000;
    height: 70px;
    display: grid;
    place-items: center;
    color: var(--cor-primaria);
    font-size: 1rem;
    font-weight: 300;
}