.cardapio {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.container-title-cardapio {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
    color: #FFFFFF;
}

.cardapio-title {
    position: absolute;
}

.fundo-cardapio {
    width: 100%;
    height: 165px;
}

.container-cardapio {
    display: flex;
    justify-content: space-around;
}

.container-cardapio-itens {
    display: flex;
    gap: 16px;
    align-items: center;
}

.title-comidas {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
}

.texto-comida {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.description-car {
    width: 300px;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
}


/* MOBILE */

@media (max-width:640px) {
    .container-title-cardapio {
        font-size: 2.5rem;
    }
    .container-cardapio {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 64px;
    }
    .container-cardapio-itens {
        flex-direction: column;
    }
    .image-item {
        width: 120px;
    }
    .title-comidas {
        font-family: 'Inter', sans-serif;
        font-size: 1.5rem;
    }
    .description-car {
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
    }
    .cardapio-title {
        font-size: 2.5rem;
    }
}