.home {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/avangers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px -30px 40px #000000;
}