.textoEImage {
    display: flex;
    justify-content: flex-end;
    width: 92vw;
}

.imagensBo2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    height: 900px;
}