.about{
   margin-bottom: 1rem;
}
.about__container{
   padding: 5%;
   margin-top: 3%;
   font-family: 'Fredericka the Great';
   display: grid;
   grid-template-columns: auto 38rem;
   grid-template-rows: auto auto;
   grid-template-areas: 
      "foto nome"
      "descricao skills";
   gap: 36px;
}
.about__container p{
   font-family: 'Sunflower';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   letter-spacing: 0.11em;
   color: #D2D1E8;
   text-align: center;
   width: 15rem;
   grid-area: descricao;
}

.whoiam{
   grid-area: nome;
   font-family: 'Fredericka the Great';
    font-weight: 400;
    color: #BFA185;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#eusou{
   font-size: 4rem;
}
#felipeflorencio{
   font-size: 5rem;
}