.background{
  position: absolute;
}
#bghome{
  top: 0rem;
  right: 0rem;
  position: absolute;
  z-index: -1;
}
#bgcomposers{
  position: absolute;
  z-index: -1;
  width: 100%;
}
#bginstruments{
  position: absolute;
  z-index: -1;
  transform: translate(-1rem,-20rem); 
  width: 81rem;
}
#bgabout{
  position: absolute;
  z-index: -5;
  transform: translate(-11%, 2%);
  width: 78rem;
}
@media (max-width:960px) {
  #bghome{
      width: 60rem;
      height: 65rem;
      top: 5%;
      right: 1%;
  }
  #bgcomposers{
    width: 58rem;
    height: 40rem;
    top: 5rem;
    left: -3rem;
  }
  #bginstruments{
    width: 60rem;
  }
  #bgabout{
    width: 115%;
    height: 100%;
    top: 10%;
    left: 2%;
  }
}

@media (max-width:640px) {
  #bghome{
   top: 10%;
   left: 3%;
   height: 80%;
   width: 100%;
  }
  
  
  #bginstruments{
    display: none;
  }
  #bgabout{
    height: 50rem;
    top: 22%;
    left: -10%;
    width: 45rem;
    z-index: 1;
  }
}