.backgrounds{
  position: absolute;
  width: 110%;
}
#bghome{
  top: -4rem;
  right: 3rem;
  width: 70rem;
  position: absolute;
  z-index: -1;
}
#bgcomposers{
  position: absolute;
  z-index: -1;
  top: 59rem;
  width: 83rem;
}
#bginstruments{
  position: absolute;
  z-index: -1;
  transform: translate(-1rem,-27rem);
  width: 100rem;
}
#bgabout{
  z-index: -1;
  width: 78rem;
  left: 15%;
}
/* TABLET */
@media (max-width: 960px) {
 #bghome{
  top: 0%;
  left: 33%;
  width: 110%;

 }

 #bgabout{
   width: 120%;
 }
 #bgcomposers{
   top: 60rem;
   width: 120%;
 }
 #bginstruments{
   width: auto;
   
  height: 87rem;
  transform: translate(0rem,-18rem);
 }

}
