.backgrounds{
 
  position: absolute;
}
#bghome{
  top: 1rem;
  right: 0rem;
  position: absolute;
  z-index: -1;
}
#bgcomposers{
  position: absolute;
  z-index: -1;
}
#bginstruments{
  position: absolute;
  z-index: -1;
  transform: translate(-1rem,-20rem); 
  width: 81rem;
}
#bgabout{
  z-index: -5;
  transform: translate(-11%, 2%);
  width: 78rem;
}
/* TABLET */
@media (max-width: 960px) {
 #bghome{
   top: 0%;
   left: 35%;
 }

}
