#chopin{
    align-items: flex-start;
    text-align: left;
}
#bethoven{
    align-items: center;
    text-align: center;
    margin-top: 7rem;
}
#mozart{
    align-items: flex-end;
    text-align: end;
    margin-top: 2.8rem;
}
@media (max-width:960px) {
    #bethoven,#mozart{
       margin-top: 0;
    }
    .index-composers{
        margin-bottom: 0;
    }
   .composers{
        display: flex;
        flex-flow: column nowrap;
   }
   .composers-wrapper{
    overflow-x: hidden;
    overflow-y: hidden;
   }
   .buttons{
    display: inline;
    height: 2rem;
    width: 2rem;
    justify-content: center;
   }
   .composers__buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
   }
    
}