header {
    height: 5%;
    width: 90%;
    display: flex;
    gap: 52px;
    margin-left: 50px;
    margin-bottom: 1rem;
}

header h2 {
    width: 100%;
    color: var(--clear-font-color);
    font-family: 'Sunflower';
    font-style: medium;
    font-weight: 500;
    font-size: 14px;
    line-height: 104.69%;
    letter-spacing: 0.11em;
}

#HOME{
    color: #FAA04B;
}