
.home {
    display: flex;
    flex-direction: column;
    height: 90vh;
}
.home__content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.cello{
    width: 30rem;
    height: 40rem;
}

nav{
    display: flex;
    gap: 20px;
}
#bghome{
    position: absolute;
    top:0%;
    right : 20rem; 
}

@media  (max-width:960px) {
    .cello{
        width: 420px;
        height: 650px;
        transform: translate(10%,0%);
    }
    .home__content{
        gap: 0;
    }

    #bghome{
        right : 1rem; 
    }
    
}
@media  (max-width:640px){
    .home{
        height: 380vw;
    }
    .home__content{
        height: 100%;
        justify-content: start;
        align-items: center;
    }
    .cello{

        width: 100%;
        height: 100%;
    }
}