
.home {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.home__content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.cello{
    width: 546px;
    height: 705px;
}

nav{
    display: flex;
    gap: 20px;
}

@media  (max-width:960px) {
    .home__content{
        gap: 4%;
    }
    .cello{
        width: 500px;
        height: 700px;
    }
    
}