
.home {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.home__content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.cello{
    width: 546px;
    height: 705px;
    
}

nav{
    display: flex;
    gap: 20px;
}
