.instruments{
    height: max-content;
}
.info{
    margin-top: 3%;
    margin-right: 10%;
    text-align: end;
}

.instruments ul li{
    text-align: center;
}
.instruments li img{
    height: auto;
}

#piano{
    margin-top: 8%;
}
#violino{
    margin-top: 16%;
    margin-right: 5%;
}
