.intruments__info{
    margin-top: 5%;
    margin-right: 10%;
    text-align: end;
}

.instruments ul li{
    text-align: center;
}
.instruments li img{
    height: auto;
}

#piano{
    margin-top: 8%;
}
#violino{
    margin-top: 16%;
    margin-right: 5%;
}
@media (max-width:960px) {
    .instruments{
        display: flex;
        flex-direction: column;
        gap: 2rem
        ;
    }
    .instruments__wrapper{
        overflow-x: hidden;
        height: 80%;
    }
    #piano, #violino{
        margin-top: 0;

    }
    .instruments__info{
        margin: 0;
    }
    .instruments ul img{
        width: 80%;
        align-self: center;
    }
    .instruments ul{
        display: flex;
        flex-direction: row;
    }
}