:root {
    --body-color: #0F0F0F;
    --section-color: #80695420;
    --footer-color: #505050;
    --clear-font-color: #d2d1e8f5;
    --space-top: 1rem;
    --space-left: 100px;
    --width-desktop: 1694px;
    --height-desktop: 854px;
}


html, body{
  scroll-behavior: smooth;  
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    box-sizing: border-box;
}
section {
    margin-left: 70px;
    margin-right: 70px;
    background-color: var(--section-color);
    height: 95vh;
    width: 90vw;
    border-radius: 2px;
}
.buttons{
    display: none;
}
.index{
    margin-left: 5%;
}
.index-home{
    margin-bottom: 5%;
}



/* TABLET */
@media(max-width: 960px) {
    section{
        height: 95vh;
        width: 90vh;
        margin-right: 0;
    }
}

/* MOBILE */
@media (max-width:640px) {}