:root {
    --body-color: #0F0F0F;
    --section-color: #80695420;
    --footer-color: #505050;
    --clear-font-color: #d2d1e8f5;
    --space-default: 2rem;
    --space-left: 100px;
    --width-desktop: 1694px;
    --height-desktop: 854px;
}

html {
    scroll-behavior: smooth;
   
}
html, body{
  scroll-behavior: smooth;  
}
body {
    height: 100vh;
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding: var(--space-default);
    gap: 1rem;
    box-sizing: border-box;

}
.container{
    margin-left: 10%;
    gap: 94px;
}
section {
    height: 100vh;
    background-color: var(--section-color);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}
.index{
    margin-left: 50px;
    margin-bottom: 3%;
}

/* TABLET */
@media (max-width: 960px) {
    section{
        
    }

}

/* MOBILE */
@media (max-width:640px) {}