.depoimento {
    height: 1300px;
    background-color: #ffff;
    padding: 20px;
}

.cliente-fedback-titulo {

    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.0rem;
}

.cliente-fedback-titulo>h1 {
    border-bottom: 3px solid var(--cor-principal);
}

.respostas-clientes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.respostas-clientes>div {
    display: flex;
    gap: 30px;
    padding-left: 40px;
    width: 300px;
    border-left: 5px solid var(--cor-principal);
}

.texto-mobile {
    display: none;
}

.respostas-clientes>div>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100px;
    gap: 20px;
}

.textos-depoimento {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.cinza {
    color: var(--color-cinza);
}

.textos-depoimento>div {
    width: 300px;
    height: 300px;
}

.enviar-mensagem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enviar-mensagem>form>input,
.enviar-mensagem>form>textarea {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 50px;
    background-color: rgba(212, 212, 212, 0.507);
    border: none;
    margin-top: 10px;
    border-radius: 5px;
}

.enviar-mensagem>form>label {
    color: var(--color-cinza);
}

#btn-enviar {
    width: none;
    height: none;
    text-align: center;
    width: 200px;
    height: 40px;
    padding: 10px 22px;
    background-color: var(--cor-principal);
    cursor: pointer;
    color: var(--cor-padrao);
    font-size: 1.2rem;
    border-radius: 5px;
    transition: 0.2s;
}
#btn-enviar:hover{
    background-color: rgb(227, 91, 42);
}
.valores{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;

}
.valores>div{
    width: 300px;
    height: 200px;
    background-color: var(--cor-principal);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    color: var(--cor-padrao);
    font-size: 1.2rem;
}
.valores>div:nth-child(2){
background-color: rgb(208, 74, 26);
}
.valores>div>div{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    color: var(--cor-padrao);
}

@media screen and (max-width:900px) {

    .enviar-mensagem>form>input,
    .enviar-mensagem>form>textarea{
        width: 100%;
    }
    .valores>div{
        width: 100%;
        flex-direction: column;
    }
   
    }

    @media screen and (max-width:750px) {
        .depoimento {
            height: 1900px;
            
        }
        .respostas-clientes {
            flex-direction: column;
        }

        .textos-depoimento {
            flex-direction: column;
        }

        .texto-desktop {
            display: none;

        }

        .texto-mobile {
            display: block;
        }

        .respostas-clientes>div {
            width: 350px;
            height: 320px;



        }

        .respostas-clientes>div>img {
            width: 100px;
            height: 100px;
        }

        .texto-mobile {
            width: 250px;
            height: 100%;
            padding-left: 70px;
        }
        .valores{
    
            flex-direction: column;
        }
    }
  