.inicio {
    background-color: var(--cor-de-fundo);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 700px;
    padding: 20px;
}

.inicio-texto {
    margin-top: 200px;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.inicio-p {
    color: var(--cor-principal);
    font-size: 1.5rem;
}

.inicio-p2 {
    color: var(--color-cinza);
    font-size: 1.5rem;
}

.inicio-texto>h1 {
    font-size: 2.0rem;
}

.btns-inicio {
    display: flex;
    gap: 30px;
}

.voltar {
    width: 60px;
    height: 60px;
    background-color: var(--cor-padrao);
    color: var(--color-cinza);
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.btn-inicio-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--cor-principal);
    width: 150px;
    height: 40px;
    text-align: center;
    color: var(--cor-padrao);
    border-radius: 5px;
}

.btn-inicio-secundary {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--cor-padrao);
    width: 150px;
    height: 40px;
    text-align: center;
    color: var(--color-padrao2);
    border-radius: 5px;
}

.btn-inicio-primary:hover {
    background-color: orangered;
    transition: 0.5s;
    cursor: pointer;
}

.btn-inicio-secundary:hover {
    background-color: var(--color-cinza);
    transition: 0.5s;
    cursor: pointer;
}

@media screen and (max-width:1250px) {
    .inicio {
      height: 1000px;
    }
    .inicio-texto {
        width: 300px;
    }
}
@media screen and (max-width:750px) {
   
    .inicio-texto {
        margin-top: 100px;
    }
}