

.paredeFechar{
    position: fixed;
    right: -1500px;
    width: 25vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.255);
   transition: 5ms;
    z-index: 8;
}
.menuBar{
    width: 75vw;
    background-color: var(--cor-padrao);
    height: 100vh;
    position: fixed;
    top: 0px;
    left: -1500px;
    z-index: 7;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: 0.3s;
    z-index: 7;
}
.menuBar>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
   

}
.btnVoltar{
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    color: var(--color-cinza);
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnVoltar>div{
    border-bottom: 2px solid black;
    width: 20px;
    
}
.menuBar>ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.menuBar>ul>li{
    
    border-bottom: 1px solid var(--color-cinza);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    
   
    
}
.menuBar>ul>li>a{
   padding-left: 10px;
    width: 100%;
    height: 50px;
}
.menuBar>ul>li:hover{
    color: var(--cor-principal);
    
   
}
.btn-menu.active{}
.menuBar.active{
    left: 0px;
}
.paredeFechar.active{
    right: 0px;
}
.btnVoltar.active{
    transform: ;

}
.linkMenu.active{

}
