.sobre {
    background-color: var(--cor-detalhes);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 700px;
}

.sobre-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sobre-text>h1 {
    color: var(--cor-padrao);
}

.sobre-text>p {
    color: var(--cor-principal);
}

.sobre-text>ul>li {
    color: var(--color-cinza);
    list-style-image: url("../image/check.png");
    padding: 10px;
}

.check {
    color: var(--cor-principal);
}

.sobre-text {
    width: 400px;
    height: 300px;
}

.btn-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--cor-principal);
    width: 150px;
    height: 40px;
    padding: 25px;
    text-align: center;
    color: var(--cor-padrao);
    border-radius: 5px;
}
.btn-sobre >a{
    color: var(--cor-padrao);
}

.btn-sobre {
    background-color: orangered;
    transition: 0.5s;
    cursor: pointer;
}

@media screen and (max-width:1250px) {
    .sobre {
        flex-direction: column-reverse;
    }
    .content-sobre {
        width: 300px;
        height: 300px;
    }
    .content-text {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width:740px) {
    .sobre{
        height: 900px;
    }
    .img-peso {
        width: 300px;
        height: 300px;
    }
    .img-sobre {
        width: 300px;
        height: 300px;
    }
    .sobre-text {
        width: 300px;
    }
}