* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --cor-principal: #FF5C00;
    --cor-de-fundo: #e7e7e7;
    --cor-detalhes: #222222;
    --cor-padrao: #FFFFFF;
    --color-padrao2: #000;
    --color-cinza: #6d6d6d;
}

.white {
    color: var(--cor-padrao);
}

html {
    scroll-behavior: smooth;
}

a {
    color: var(--color-padrao2);
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: #333;
}

body::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 20px;
}

header {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100px;
    background-color: var(--cor-padrao);
    padding: 30px 50px;
    filter: drop-shadow(1px 1px 10px gray);
    position: fixed;
    top: 0px;
    z-index: 5;
}

.lista-header {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.voltar{
    z-index: 4;
}

.lista-header>li {
    list-style-type: none;
}

.lista-header>li>a:hover,
.lista-header>li>a:focus{
    color: var(--cor-principal);
    transition: 0.1s;
}

.btn-menu {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: var(--cor-padrao);
    border: 1px solid rgba(128, 128, 128, 0.557);
    visibility: hidden;
}

.btn-menu:hover {
    background-color: rgba(128, 128, 128, 0.16);
    transition: 0.5s;
}

section {
    height: 100vh;
   
}
footer{
    height: 100px;
    background-color: var(--cor-detalhes);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    
    
}
footer>div{
    display: flex;
    gap: 20px;
    
}
footer>div>a{
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.185);
    color: var(--cor-padrao);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;

}
.footer-direitos{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-padrao);
    background-color: var(--cor-detalhes);
    border-top: 2px solid rgba(255, 255, 255, 0.185);
}
footer>div>a:hover{
   background-color: var(--color-cinza);
   transition: 0.2s;
    
}

@media screen and (max-width:1250px) {
    header {
        justify-content: space-between;
        padding: 10px;
    }
    .lista-header {
        display: none;
    }
    .btn-menu {
        visibility: visible;
    }
    .inicio {
        flex-direction: column;
        gap: 10px;
    }
}
@media screen and (max-width:700px) {
    footer{
        height: 200px;
        gap: 30px;
        flex-direction: column;
        
        justify-content: center;
    }
}