.treinadores {
    background-color: var(--cor-de-fundo);
    height: 900px;
}

.nossos-treinadores {
    height: 400px;
    background-image: url('../background-treinador.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nossos-treinadores>h1 {
    font-size: 2.0rem;
    color: var(--cor-padrao);
    border-bottom: 3px solid var(--cor-principal);
}

.treinadores-tipos {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 30px;
}

.treinadores-tipos>div {
    width: 20%;
    height: 380px;
    border-radius: 10px;
    filter: drop-shadow(1px 1px 10px gray);
    background-color: var(--cor-padrao);
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
}

.treinadores-tipos>div>div>span>i {
    color: var(--cor-principal);
    padding: 5px;
}

.treinadores-tipos>div>div>span {
    color: var(--color-cinza);
}

.treinadores-tipos>div>img {
    width: 100%;
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    overflow: hidden;
}

.treinadores-tipos>div>img:hover {
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.treinadores-texto {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 70px;
}

.nome-treinadores {
    font-size: 1.5rem;
}

.localizacao-treinadores {
    display: inline;
}

@media screen and (max-width:1250px) {
    .treinadores {
        height: 900px;
    }
    .treinadores-tipos>div:nth-child(1) {
        display: none;
    }
    .treinadores-tipos>div {
        width: 30%;
        height: 350px;
    }
    .treinadores-tipos>div>img {
        width: 100%;
        height: 350px;
    }
    .treinadores-tipos>div>i {
        color: #009EFF;
    }
}

@media screen and (max-width:750px) {
    .treinadores {
        display: none;
    }
}