
.nossoscuidados{
    background-color: #000000;
    color: #e2b7b7;
    width: 100%;
    height: 30%;
    font-size: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo{
    font-size: 10vh;
    padding-top: 5%;
  
}

.pai{   
    padding-top: 4%;
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
}
.foto-diamante{
  width: 30%;
  padding-top: 7vh;
  margin-left: 17vh;
}
.card-container{
    background-color:#F9F9F9;
    width: 50vh;
    height: 50vh;
}
.card-container2{
    background-color:#F9F9F9;
    width: 50vh;
    height: 50vh;
    
}
.card-container3{
    background-color:#F9F9F9;
    width: 50vh;
    height: 50vh;
}
.exclusivo{
  display: flex;
  padding-left: 42%;
    
}
.description-exclusivo{
    padding-top: 9%;
    padding-left: 7%;
    height: 7px;
}
.frases{
    padding-top: 2vh;
    padding-left: 9vh;
}
.foto-coelho{
    width: 30%;
    padding-top: 7vh;
    margin-left: 17vh;
  }
  .LIVRE{
    display: flex;
    padding-left: 35%;
      
  }
  .description-livre{
    justify-content: center;
    align-items: center;
    font-size: center;
     padding-top: 9%;
     padding-left: 7%;
 }
 .frases2{
    padding-top: 2vh;
    padding-left: 5vh;
}
.foto-hipo{
    width: 30%;
    padding-top: 7vh;
    margin-left: 17vh;  
} 
 .HIPO{
    display: flex;
    padding-left: 37%;
  }
  .description-hipo{
    justify-content: center;
    align-items: center;
    font-size: center;
     padding-top: 9%;
     padding-left: 7%;
 }
 .frases3{
    
    padding-top: 2vh;
    padding-left: 5vh;
}

@media (max-width: 640px) {
    .pai{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10vh;   
        margin-top: 3%;
        margin-left: 1vh;
    }

   .nossoscuidados{
    display: flex;
    flex-direction: column;
    margin-top: 85rem;
    font-size: 5vh;
   }


 
  
   
    }


