@media (max-width: 1130px) {
  .banner-quote-container-shinpachi .banner-quote {
    font-size: 1.75rem;
    margin: 0px 25px;
  }
}

@media (max-width: 1110px) {
  .banner-no-mobile__title {
    font-size: 6rem;
  }
}

@media (max-width: 850px) {
  .banner-no-mobile__title {
    font-size: 5rem;
  }

  .banner-quote-container-shinpachi {
    display: none;
  }

  .banner-quote-container-gintoki {
    display: block;
  }

  .banner-quote-container-gintoki .banner-quote {
    font-size: 2.25rem;
  }

  .banner-quote-container-gintoki .banner-quote__author {
    text-align: center;
    font-size: 2.75rem;
  }

  .banner-quote__button {
    display: none;
  }
}

@media (max-width: 670px) {
  .banner-no-mobile__title {
    display: none;
  }

  .banner-mobile__title-container {
    display: grid;
    justify-items: center;
    font-size: 4rem;
  }

  .banner-quote {
    font-size: 1.75rem;
  }

  .banner-quote__author {
    font-size: 2rem;
  }
}

@media (max-width: 490px) {
  .banner-mobile__title-container {
    font-size: 3rem;
  }

  .banner-quote {
    font-size: 1rem;
  }

  .banner-quote__author {
    font-size: 1.5rem;
  }
}

@media (max-width: 420px) {
  .banner-mobile__title-container {
    font-size: 2rem;
  }
  .banner-quote {
    font-size: 0.75rem;
    margin: 0px 25px;
  }

  .banner-quote__author {
    font-size: 1rem;
  }
}
