.banner {
  height: 800px;
  background-image: url(../../img/background-image.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 64px;
  box-shadow: inset 0px -40px 20px #353535;
  padding-bottom: 80px;
}

.banner-no-mobile__title {
  font-size: 8rem;
  font-family: "Rampart One", cursive;
}

.banner-no-mobile__title:hover {
  color: #fedc00;
  transition: all 0.5s;
  border-radius: 20%;
}

.banner-mobile__title-container:hover {
  color: #fedc00;
  transition: all 0.5s;
  border-radius: 20%;
}

.banner-mobile__title-container {
  display: none;
  font-size: 8rem;
  font-family: "Rampart One", cursive;
}

.banner-quote-container-shinpachi {
  max-width: 1000px;
  display: grid;
  justify-items: center;
  gap: 32px;
  font-size: 2rem;
}

.banner-quote-container-gintoki {
  display: none;
}

.banner-quote {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: center;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.banner-quote::before {
  content: "";
  display: block;
  border-bottom: 4px solid #fedc00;
  width: 85px;
  margin: 8px auto 20px auto;
}

.banner-quote::after {
  content: "";
  display: block;
  border-bottom: 4px solid #fedc00;
  width: 85px;
  margin: 20px auto 8px auto;
}

.banner-quote__author {
  font-size: 2.5rem;
}

.banner-quote__button {
  font-family: "Abel", sans-serif;
  font-size: 1.5rem;
  color: white;
  width: 224px;
  height: 64px;
  background-color: transparent;
  border: 4px solid black;
}

.banner-quote__button:hover {
  cursor: pointer;
  color: #fedc00;
  transition: all 0.5s;
  border-color: #fedc00;
}
