.img_jogos{
    display: flex;
    padding-top: 4vh;
    padding-left: 19vh;
    gap: 34%;
}
.img1{
    transition: transform 1s;
    transform: translateX(0) scale(1);
    width: 1%;
    height: 1%;
}
.img2{
    transition: transform 1s;
    transform: translateX(0) scale(1);
    width: 2%;
    height: 3%;
}
.img3{
    transition: transform 1s;
    transform: translateX(0) scale(1);
    width: 2%;
    height: 3%;
}
.img1:hover,
.img1:focus {
  transform: translateX(10px) scale(1.2);
}
.img2:hover,
.img2:focus {
  transform: translateX(30px) scale(1.2);
}
.img3:hover,
.img3:focus {
  transform: translateX(30px) scale(1.2);
}
.nomes_img_jogos{
    display: flex;
    padding-top: 3.5vh;
    padding-left: 21vh;
    gap: 25%;
    font-size: 4vh;
}

/*
Acaba aqui primeira parte das imgs
/*/
.imgs_jogos2{
    display: flex;
    padding-top: 4vh;
    padding-left: 50vh;
    gap: 45%;
}
.img4{
    transition: transform 1s;
    transform: translateX(0) scale(1);
    width: 2%;
    height: 3%;
}
.img5{
    transition: transform 1s;
    transform: translateX(0) scale(1);
    width: 2%;
    height: 3%;
}
.img4:hover,
.img4:focus {
  transform: translateX(10px) scale(1.2);
}
.img5:hover,
.img5:focus {
  transform: translateX(10px) scale(1.2);
}
.nomes_img_jogos2{
    display: flex;
    padding-top: 3.5vh;
    padding-left: 60vh;
    gap: 30%;
    font-size: 4vh;
}
@media (max-width:640px){
  .img_jogos{
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  .imgs_jogos2{
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-left: 20%;
}
.nomes_img_jogos{
  display: flex;
  flex-direction: column;
  margin-top: -800px;
  padding-left: 30%;
  gap: 350px
}
.nomes_img_jogos2{
  display: flex;
  flex-direction: column;
  margin-top: -400px;
  padding-left: 30%;
  gap: 350px;
}

}