body{
   max-width: 100%;
}
section{
    height: 1000px;
    width: 100%;
}
.inicio{
    height: 900px;
    width: 100%;
}
.jogo{
    height: 100%;
    width: 100%;
}
.sobre{
    height: 100%;
    width: 100%;
}
.suporte{
    height: 100%;
    width: 100%;
}
.agradecimentos{
    height: 100%;
    width: 100%;
}
footer{
    height: 200px;
    width: 100%;
    font-size: .75rem;
    background-color: black;

}
.back {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: black;
    right: 30px;
    bottom: 16px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color:#fff;
    transition: .18s;
    opacity: 6.3;
    z-index: 1;
}

.back:hover {
    opacity: 0.5;
}

/* responsividade /*/

@media (max-width:640px){
    html{
        min-width: 100%;
     }
    .sobre{
        max-width: 640px;
        height: 160vh;
    }
}