.suporte{
    background-image: url(../img/support.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}
.suport-titulo{
    display: flex;
    padding-top: 5%;
    padding-left: 10%;
    font-size: 4rem;
    color: #fff;
}
.sub-suporte{
    display: flex;
    padding-top: 15%;
    padding-left: 40%;
    font-size: 2rem;
    color: #fff;
}
.lista-sup{
    display: flex;
    padding-top: 21%;
    padding-left: 21%;
    color: #fff;
    font-size: 2rem;
    gap: 5%;
    transition: transform 1s;
    transform: translateX(0) scale(1);
}
.sup-img1:hover,
.sup-img1:focus{
    transform: translateX(30px) scale(1.2);
}
.sup-img2:hover,
.sup-img2:focus{
    transform: translateX(30px) scale(1.2);
}
.sup-img2:hover,
.sup-img2:focus{
    transform: translateX(30px) scale(1.2);
}
.sup-img3:hover,
.sup-img3:focus{
    transform: translateX(30px) scale(1.2);
}
.sup-img4:hover,
.sup-img4:focus{
    transform: translateX(30px) scale(1.2);
}
.sup-img5:hover,
.sup-img5:focus{
    transform: translateX(30px) scale(1.2);
}
