* {
    padding: 0%;
    margin: 0%;
}

header {
    height: 100vh;
    background-image: url(./img/avatar-a-lenda-de-aang-2-temp-plano-critico.jpg);
    background-repeat: no-repeat;
    background-attachment: center;
    background-size: 100%;
}

.logo {
    display: grid;
    grid-row: auto;
    margin-left: 30%;
}

main {
    height: 1000vh;
    background-color: crimson;
}

footer {
    background-color: cornflowerblue;
    height: 20vh;
}