.Contato {
    height: 280px;
    background-color: #F8E795;
    display: flex;
    flex-direction: row;
    gap: 400px;
}

.contato-title {
    font-size: 2rem;
    font-family: 'Piedra', cursive;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    gap: 1100px;
    margin-left: 168px;
}

.contatos-description {
    margin-left: 168px;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    font-family: 'Patrick Hand', cursive;
    font-size: 2rem;
}

.contatos-icon {
    display: flex;
    flex-direction: column;
    margin-left: 168px;
    align-items: center;
    gap: 14px;
}

.dedo {
    display: flex;
    align-items: center;
}