.gif-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
}

.title-gif {
    display: flex;
    font-size: 8rem;
    font-family: 'Piedra', cursive;
    font-weight: 400;
    justify-content: center;
    margin-top: 3px;
}

.icon4 {
    display: flex;
    margin-top: 3px;
}

.border-3 {
    display: grid;
    border: 20px solid #F8E795;
}

.gifs {
    display: flex;
    flex-direction: row;
}

.gif1 {
    display: flex;
    border-radius: 20px;
    width: 15%; 
    margin-left: 260px;

    
    margin-top: 30px;
    height: 300px;
}

.gifs1 {
    display: flex;
    flex-direction: row;
}

.gif2 {
    display: flex;
    border-radius: 20px;
    width: 15%;
    margin-left: 260px;
    margin-top: 40px;
    height: 300px;
}