.description-cat {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
    padding-right: 65px;
}

.cat1 {
    display: flex;
    width: 61%;
    margin-top: 40px;
}

.description-cat2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 220px;
}

.cat8 {
    display: flex;
    width: 54%;
    margin-top: 40px;
    margin-left: 90px;
}

.img-raças {
    display: flex;
    margin-left: 300px;
    margin-top: 30px;
    gap: 120px;
}

.img-raça {
    display: flex;
    margin-left: 300px;
    margin-top: 40px;
    gap: 120px;
}

.redondo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}