.raça {
    position: absolute;
    left: 523px;
    top: 1999px;
    font-family: 'Piedra';
    font-style: normal;
    font-weight: 400;
    font-size: 7rem;
    line-height: 399px;
    color: #000000;
}