.raça{

width: 313px;
height: 96px;
left: 523px;
top: 27px;

font-family: 'Piedra';
font-style: normal;
font-weight: 400;
font-size: 100px;
line-height: 130px;
background-color: aquamarine;
color: #000000;
}