.raças-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
}

.title-raça {
    display: flex;
    font-size: 8rem;
    font-family: 'Piedra', cursive;
    font-weight: 400;
    justify-content: center;
    margin-top: 3px;
}

.icon2 {
    display: flex;
    margin-top: 3px;
}

.border-2 {
    display: grid;
    border: 20px solid #F8E795;
}