.sobre {
    height: auto;
}

.sobre-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
}

.title-sobre {
    display: flex;
    font-size: 8rem;
    font-family: 'Piedra', cursive;
    font-weight: 400;
    justify-content: center;
}

.border {
    display: grid;
    border: 20px solid #F8E795;
}

.description-title {
    width: 500px;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.70rem;
    color: #000000;
}

.description-cat {
    display: flex;
    flex-direction: column;
}

.sobre-gatos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    margin: 64px;
}

.description-text {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.70rem;
    color: #000000;
}