.sobre-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
}

.title-sobre {
    display: flex;
    font-size: 8rem;
    font-family: 'Piedra', cursive;
    font-weight: 400;
    justify-content: center;
}

.border {
    display: grid;
    border: 20px solid #F8E795;
}

.description-title {
    margin-top: 40px;
    display: grid;
    margin-left: 240px;
    width: 500px;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.70rem;
    color: #000000;
}

.description-text {
    display: grid;
    width: 500px;
    margin-left: 190px;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.70rem;
    color: #000000;
}