:root {
    --primari-color: #F8E795;
    --cinze-color: #E7E7E7;
    --amareloEsc-color: #D2AC47;
}

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-areas: "content";
    background-color: #E7E7E7;
}

header {
    grid-area: content;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    align-items: center;
    background-color: #F8E795;
    font-family: 'Updock', cursive;
}

main {
    flex-direction: column;
    align-items: center;
}

section {
    height: 100vh;
    width: 100%;
}

footer {
    height: 150px;
    width: 100%;
    display: grid;
    background-color: #F8E795;
}