.button-assista-agora{
    display: flex;
    width: 132px;
    height: 23px;
    color: #91000A;
    background-color: #46090D;
    place-content: center;
    align-items: center;
    border-width: 2px;
    border-color: #91000A;
    border-style: solid;
    transition: 0.6s;
    overflow: hidden;
}
.button-assista-agora:hover{
    background: #46090D;
    color: #000;
    box-shadow: 0 0 8px #fd0018,
        0 0 10px #fd0018,
        0 0 20px #fd0018;;
}