.contatos {
    display: grid;
    grid-template-areas:
        'titulo'
        'info';
    grid-template-rows: 200px auto;
    align-items: center;
    justify-content: center;
    background-image: url(./img/Background_contato.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.titulo-contatos {
    width: 100%;
    height: 133px;
    left: 504px;
    padding-top: 14px;
    font-family: 'Varta';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 186px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 23.44%, rgba(0, 0, 0, 0.8) 77.6%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    grid-area: titulo;
}

.container-informacoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 115px;
    width: 1178px;
    height: 500px;
    left: 131px;
    top: 200px;
    grid-area: info;
}

.texto-informacoes{
    display: flex;
    flex: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 41px;
    width: 563px;
    height: 429px;
}

.info-item{
    display: flex;
    gap: 24px;
}