footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    top: 823px;
    left: 0px;
    background: #000000;
    border: 3px solid #FFFFFF;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
}

