footer{
    place-self: end start;
    grid-area: content;
    height: 70px;
    width: 100%;
    display: grid;
    place-content: center;
    background: #000000;
    font-size: .74rem;
    border-top: 3px solid #fff;
    font-family: 'Ubuntu';
    font-style: normal; font-weight: 400; font-size: 30px; color: #FFFFFF;
}
 

