.personagens{
    display: grid;
    grid-template-areas: 
    'titulo titulo'
    'person person';
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    background-image: url(./img/Background_Personagens.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.titulo-personagens{
    display: flex;
    grid-area: titulo;
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: center;
}

.blocos-personagens{
    grid-area: person;
    display: flex;
    flex-direction: row;
    height: 725px;
    align-items: center;
    justify-content: center;
}

.icones-personagens{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 150px;
}

.icone {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width: 200px;
}

.texto-personagem {
    padding-top: 300px;
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    flex: none;
    transform: rotate(-90deg);
}

.texto-personagem-dois {
    padding-top: 180px;
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    flex: none;
    transform: rotate(-90deg);
}

.texto-personagem-tres {
    padding-top: 160px;
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    flex: none;
    transform: rotate(-90deg);
}

.texto-personagem-quatro {
    padding-top: 200px;
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    flex: none;
    transform: rotate(-90deg);
}

.texto-personagem-cinco {
    padding-top: 100px;
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    flex: none;
    transform: rotate(-90deg);
}

.botao-esquerdo {
    display: none;
}

.botao-direito {
    display: none;
}

/* MOBILE */
@media(max-width:640px) {

    .titulo-personagens{
        height: 100px;
    }

    .blocos-personagens{
        height: 600px;
    }

    .icone{
        padding-top: 50px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .icones-personagens{
        align-items: center;
        align-self: center;
    }

    .texto-personagem{
        padding: 0px;
        transform: none;
    }

    .texto-personagem-dois{
        padding: 0px;
        transform: none;
    }

    .texto-personagem-tres{
        padding: 0px;
        transform: none;
    }

    .texto-personagem-quatro{
        padding: 0px;
        transform: none;
    }
    .texto-personagem-cinco{
        padding: 0px;
        transform: none;
    }

    .botao-esquerdo{
        display: flex;
        flex-direction: column;
        width: 25px;
        height: 85px;
        padding-top: 250px;
        padding-left: 30px;
        align-items: center;
        align-self:auto;
        grid-area: person;
    }

    .botao-direito {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 1.56%;
        padding-top: 353px;
        padding-right: 10px;
    }

    
}

