section{
    height: 100vh;
    border-top: 5px solid #023158;
}
body{
    display: grid;
    grid-template-areas: "content";
}
main{
    grid-area: content;
    align-items: center;
    justify-content: center;
}
html{
    scroll-behavior: smooth;
}

.titulo{
    width: 350px;
    height: 93px;
    top: 14px;
    font-family: 'Varta';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 93px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 28.65%, rgba(0, 0, 0, 0.8) 77.6%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* MOBILE */
@media(max-width:640px) {

    

    body{
        width: 100%;
    }

    .home{
        height: 1600px;
        width: 100%;
    }


}