.section-contato {
    display: grid;
    grid-template-areas: "title title title" " contatos contatos contatos";
    grid-template-rows: auto 1fr;
    align-items: center;
    height: 90vh;
}

.main-contato {
    display: grid;
    grid-template-areas: " contato social link";
    grid-template-rows: auto 1fr;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    grid-area: contatos;
    padding-left: 4rem;
    padding-right: 4rem;
}

.title-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    font-size: 6rem;
    color: white;
    background-color: #222020;
    grid-area: title;
    font-weight: 800
}

h2 {
    font-size: 1.75rem;
}

.contatos {
    grid-area: contato;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-weight: 600;
}

.contato-item {
    font-size: 1.25rem;
}

.contato-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.social-container {
    grid-area: social;
}

.contato-item {
    display: flex;
    gap: 16px;
}

.social-container {
    grid-area: social;
    display: flex;
    gap: 55px;
    font-size: 2.5rem;
    justify-content: center;
}

.social-icon {
    width: 90px;
    height: 68px;
    background-color: #222020;
    display: grid;
    place-content: center;
    cursor: pointer;
    color: white;
    transition: all .7s;
}

.social-icon:hover {
    color: #2997FF;
    box-shadow: inset 0px 0px 16px #2997FF;
}

.link-container {
    grid-area: link;
}

.link-container {
    grid-area: link;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    font-weight: 600;
}

.li-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    height: 50px;
    width: 120px;
    background-color: #222020;
    color: white;
}

.li-link:hover {
    color: #2997FF;
    box-shadow: 0px 0px 16px #2997FF;
}

@media (max-width: 960px) {
    .section-contato {
        height: 150vh;
    }
    .title-contato {
        width: 100vw;
    }
    .main-contato {
        display: grid;
        grid-template-areas: " contato contato contato" "social social social" "link link link";
        grid-template-rows: auto 1fr 1fr;
        place-items: center;
    }
    .contatos {
        grid-row: 1;
        width: 525px;
    }
    .social-container {
        grid-row: 2;
    }
    .link-container {
        grid-row: 3;
        place-items: center;
    }
}

@media (max-width: 640px) {
    .section-contato {
        height: 150vh;
    }
    .title-contato {
        font-size: 3rem;
        height: 10vh;
    }
    .contatos{
        width: auto;
    }
    .main-contato {
        gap: 30px;
        width: 100vw;
    }
    .social-container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 320px){
    .title-contato{
        font-size: 1.5rem;
    }
    span{
        font-size: 0.75rem;
    }
}

