.section-inicio {
    height: 87vh;
    width: 100%;
    display: grid;
    grid-template-areas: "main-inicio" "footer-inicio";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-home {
    font-family: 'Poppins';
    width: 1600px;
    display: flex;
    justify-content: space-between;
    height: 80vh;
    align-items: center;
    grid-area: main-inicio;
}

.home-text {
    width: 35vw;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title-apple {
    font-size: 4rem;
    font-weight: 700;
}

.text-apple {
    font-size: 1.5rem;
    text-align: justify;
    font-weight: 600;
}

.img-produtos {
    width: 41.5vw;
    height: auto;
}

.logo-footer {
    height: 10vh;
    display: flex;
    background-color: #222020;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
    grid-area: footer-inicio;
}