.section-mac {
    background-color: black;
}

.main-mac {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 75vh;
}

@media (max-width: 960px) {
    .section-mac {
        height: 125vh;
    }
    .main-mac {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .macs {
        width: 580px;
        height: auto;
    }
    .mac-pro {
        width: 650px;
        height: auto;
    }
}