header {
    width: 100%;
    height: 13vh;
    background-color: #222020;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: 'Poppins';
}

.section-iphone,
.section-ipad,
.section-mac,
.section-airpods-watch {
    height: 100vh;
}

footer {
    height: 10vh;
    background-color: #222020;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
}

@media (max-width: 640px) {
    footer {
        font-size: 1rem;
    }
}

@media (max-width: 320px){
    header{
        height: 10vh;
    }
    footer{
        font-size: 0.75rem;
    }
}