header {
    width: 100%;
    height: 13vh;
    background-color: #222020;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: 'Poppins';
}

.section-iphone,
.section-ipad,
.section-mac,
.section-airpods-watch,
.section-contato {
    height: 100vh;
}

.main-right {
    grid-column: 2;
    display: grid;
    place-items: center;
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 50px;
}

.main-left {
    grid-column: 1;
    display: grid;
    place-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    gap: 20px;
}