.text {
    color: white;
    width: 700px;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: justify;
}

.text-button {
    color: white;
    width: 600px;
    font-size: 1.75rem;
    font-weight: 600;
    text-align: justify;
}

@media (max-width: 960px) {
    .text {
        font-size: 1.25rem;
    }
    .text-button {
        width: 700px;
    }
}

@media (max-width: 640px) {
    .text {
        font-size: 0.875rem;
        width: 80vw;
    }
    .text-button {
        width: 80vw;
        font-size: 1rem;
    }
}