.div-title-wacth {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: 5rem;
    height: 25vh;
}

.main-watch {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    justify-content: center;
}

.text-watch {
    color: white;
    width: 700px;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: justify;
}

.watch {
    height: 27.5vh;
    width: 27.5vw;
}

@media (max-width: 960px) {
    .div-title-wacth {
        height: 15vh;
    }
    .main-watch {
        height: 80vh;
    }
    .watch {
        width: 523px;
        height: auto;
    }
}

@media (max-width: 640px) {
    .div-title-wacth {
        font-size: 2.25rem;
        height: 10vh;
    }
    .text-watch {
        font-size: 0.875rem;
        width: 80vw;
    }
    .watch{
        width: 80vw;
    }
}