.sobre{
    height: 100vh;
    width: 100%;
    background-image: url(./img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.text-hist{
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 8.5rem;
    color: #FF9929;
    text-shadow: 
               -2px -2px 1px #000, 
               -2px 2px 1px #000,                    
                2px -2px 1px #000,                  
                2px 1px 1px #000;
}

.text-hist h1{
    border: 2px solid #000000;
}

.sobre-text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.sobre_text{
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: #ffff;
    padding: 80px;
    
}