.about {
  padding: 50px 0px;
  background-color: #353535;
  display: grid;
  align-items: center;
  justify-content: center;
}

.about__title {
  display: grid;
  justify-items: center;
  font-size: 3rem;
}

.about__title:hover {
  color: #fedc00;
  transition: all 0.5s;
  border-color: #fedc00;
}

.about__title::after {
  content: "";
  display: block;
  border-bottom: 4px solid #fedc00;
  width: 85px;
  margin: 10px auto 8px auto;
}

.about__content {
  margin-top: 30px;
  display: grid;
  justify-content: center;
  grid-template-areas: "history-and-opinion . categories";
  grid-template-columns: 1fr auto 1fr;
  gap: 128px;
}

.history-and-opinion-container {
  grid-area: history-and-opinion;
  display: grid;
  justify-items: center;
}

.history-and-opinion__title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.history-and-opinion__title::after {
  content: "";
  display: block;
  border-bottom: 2px solid #fedc00;
  width: 35px;
  margin: 10px auto 8px auto;
}

.history-and-opinion__text {
  max-width: 530px;
  text-align: center;
  font-size: 1.25rem;
}

.categories-container {
  grid-area: categories;
  display: grid;
  justify-items: center;
}

.categories {
  display: flex;
  gap: 32px;
}

.categories__title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.categories__title::after {
  content: "";
  display: block;
  border-bottom: 2px solid #fedc00;
  width: 35px;
  margin: 10px auto 8px auto;
}

.category__title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 150px;
  height: 50px;
}

.category__title {
  font-size: 1.5rem;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  width: 150px;
  height: 100px;
  padding: 10px;
}
