:root {
    --primary-line-color: #14DFDF;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    background-color: black;
    height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.conteudo-titulo {
    padding-left: 32px;
    font-size: 1.2rem;
}

.home li {
    border-bottom: 4px solid transparent;
    /*Linha de Borda quando passar o mouse*/
    transition: border-color .5s;
}

.home li:hover {
    border-color: var(--primary-line-color);
}

.home {
    padding-right: 33px;
    color: white;
    font-size: 1.2rem;
}

main {
    height: 100%;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid #fff;
    height: 40px;
}

.footer_texto {
    padding-top: 10px;
    font-family: 'Sacramento', cursive;
    font-style: normal;
    font-size: 1.1rem;
    color: white
}

@media (max-width: 960px) {
    section {
        height: 100%;
    }
    header {
        height: 40px;
        font-size: 0.9rem;
    }
    .home {
        padding-top: 10px;
    }
    main {
        padding-top: 32px;
    }
}

@media (max-width: 640px) {
    section {
        height: auto;
    }
    .home {
        padding-top: 20px;
        padding-right: 20px;
        font-size: 16px;
    }
    .conteudo-titulo {
        padding-top: 20px;
    }
    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 3px solid #fff;
    }
    .footer_texto {
        padding-top: 10px;
        font-family: 'Sacramento', cursive;
        font-style: normal;
        font-size: 1.2rem;
        color: white
    }
    @media (max-width: 300px) {
        .conteudo-titulo {
            padding-top: 30px;
        }
        .home {
            padding-right: 5px;
        }
    }
}