.contato{
    width: 100%;
    background-image: url(../img/background3.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Concert One', cursive;
    display: flex;
    flex-direction: column;
    gap: 120px;
}
.container-contato{
    display: flex;
    justify-content: space-around;
}
.email-container, 
.telefone-container, 
.social-container{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.title-container i{
    font-size: 3rem;
}
.title-container{
    display: flex;
    align-items: center;
    gap: 16px;
    color: #fff;
}
.email-title{
    font-size: 2rem;
}
.email-description, 
.telefone-description, 
.social-description{
    font-size: 2rem;
    color: #9F9D9D;
    width: 300px;
}
.email-email, .numero-telefone, 
.numero-telefone-pessoal{
    font-size: 1.5rem;
    color: #fff;
}
.telefone-residencial, 
.telefone-pessoal{
    display: flex;
    gap: 16px;
    align-items: flex-end;
}
.telefone-residencial i, 
.telefone-pessoal i{
    font-size: 2rem;
    color: #fff;
}
.social-list{
    font-size: 3rem;
    display: flex;
    gap: 48px;
    color: #fff;
}
.social-list i:hover{
    color: #ffc765;
    transition: .5s;
}