.menu{
    display: flex;
    color: #fff;
    gap: 72px;
    font-size: 2rem;
    font-family: 'Charm', cursive;
}
.menu li:hover{
    color: #ffc765;
    background: url(../img/ondas.png) repeat-x center bottom;
}
/* MOBILE */
@media (max-width:640px){
    header{
        justify-content: space-between;
    }
    .menu{
        display: none;
    }
}