.quem-somos{
    width: 100%;
    background-image: url(../img/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.container__title{
    display: flex;
    justify-content: center;
}
.quem-somos__photo{
    width: 100%;
}
.quem-somos__title{
    font-family: 'Amatic SC', cursive;
    color: #fff;
    position: absolute;
    font-size: 8.5rem;
    place-self: center;
}
.description{
    display: grid;
    grid-template-areas: 
    "photo text";
    margin-top: 48px;
    justify-content: center;
    gap: 64px;
}
.description__image{
    grid-area: photo;
}
.description__title{
    grid-area: text;
    font-size: 2rem;
    color: #fff;
    font-family: 'Charm', cursive;
}
.description__title2{
    grid-area: text;
    font-family: 'Concert One', cursive;
    font-size: 3rem;
    color: #C63737;
}
.description__text{
    grid-area: text;
    font-size: 1rem;
    color: #fff;
    font-family: 'Artifika', serif;
    width: 560px;
}