html{
    scroll-behavior: smooth;
}
body{
    display: grid;
    grid-template-areas: "content";
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0008;
    height: 100px;
    z-index: 1;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    height: 100vh;
}
footer{
    position: absolute;
    height: 120px;
    width: 100%;
    display: grid;
    place-content: center;
    place-self: end start;
    font-size: .75rem;
    border-top: 2px solid #fff;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}