.unidades{
    width: 100%;
    background-image: url(../img/background4.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 100px;
    font-family: 'Concert One', cursive;
}
.unidades__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 120px;
}
.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 384px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 24px;
    padding-top: 18px;
    gap: 18px;
}
.unidades__title{
    font-size: 1.5rem;
    color: #000;
}
.unidades__line{
    width: 192px;
    height: 5px;
    background-color: #C63737;
}
.unidades__line2{
    width: 192px;
    height: 2px;
    background-color: #000;
}
.button__container2{
    font-size: 1.5rem;
    width: 196px;
    height: 50px;
    background: #842222;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #fff;
}