.home{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/inicio.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}