.section-images {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #1e1e1e;
  padding: 50px 0px;
}

.images__title {
  margin-bottom: 15px;
  font-size: 3rem;
}

.images__title:hover {
  color: #fedc00;
  transition: all 0.5s;
  border-color: #fedc00;
}

.images__title::after {
  content: "";
  display: block;
  border-bottom: 4px solid #fedc00;
  width: 85px;
  margin: 10px auto 8px auto;
}

.images__images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 76px;
  row-gap: 16px;
}
