.cardapio{
    width: 100%;
    background-image: url(../img/background3.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
}
.container-buttons{
    background-color: rgba(198, 55, 55, 0.29);
    width: 100%;
    height: 160px;
    border: 5px solid #000000;
    display: flex;
    gap: 64px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.button__text{
    font-size: 2.25rem;
    font-family: 'Amatic SC', cursive;
    color: #fff;
}
.container-hamburguer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    max-width: 1200px;
}
.card{
    align-items: center;
    justify-content: center;
}
.container__img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__img__text{
    position: absolute;
    font-family: 'Concert One', cursive;
    font-size: 2rem;
    color: #fff;
}
/* MOBILE */
@media (max-width:640px){
    .container-buttons{
        flex-direction: column;
        height: 520px;
    }
    .container-hamburguer{
        display: flex;
        justify-content: center;
        text-align: center;
    }
}