.home{
    display: flex;
    height: 100vh;
    background-image: url(../img/menina.gif);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: flex-end;
}

span{
   color:#AF5151;
   font-size:4rem;
   padding-left: 60px;
}