html{
    scroll-behavior: smooth;
}

body{
    display: grid;
    grid-template-areas: "content" ;
    background-color: rgb(25, 25, 20);
    color: #fff;
    font-family: 'Inter', sans-serif;
}

header{
    grid-area: content;
    place-self: start center;
    z-index: 5;
    height: 82px;
    margin-top: 48px;
    justify-content: center;
}

main{
    grid-area: content;
    display: flex;
    flex-direction: column;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    background-color: rgb(25, 25, 20);
}

span{
    color:#AF5151;
    font-size:4rem;
}
        
    



