.menu {
    display: flex;
    gap: 60px;
    font-size: 1.25rem;
    justify-content: center;
}

.menu li {
    border-bottom: 4px solid transparent;
    transition: border-color .5s;
}

.menu li:hover {
    border-bottom: 4px solid var(--primary-color);
}

/* MOBILE */
@media (max-width:640px) {
    header {
        max-width: 300px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    } 
    .menu {
        display: none;
    }   
    .menu__bars {
        font-size: 1.5rem;
    }
}