.section-title {
    grid-area: title;
    text-align: center;
    font-size: clamp(2rem, 18vw, 14rem);
    font-weight: 700;
    background: linear-gradient(#666, #000);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}