.album_e_nome{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    gap: 12px;
}
.nome_album{
    color: #fff;
}
.slider{
    display: flex;
    flex-direction: row;
    gap: 64px;
    align-items: center;
    justify-content: center;
}
.slider i{
    color: var(--pink-color);
    font-size: 2rem;
}