@media (max-width:640px) {
    .logo{
        display: flex;
        align-self: flex-start;
    }
    .home{
        background-image: url(../img/blackground1.png);
        width: 640px;
        height: 700px;
        box-shadow: none;
    }
    .menu{
        display: none;
    }
    .title__text{
        font-size: 1rem;
    }
    .group__name{
        font-size: 5rem;
    }
    .description{
        font-size: 1rem;
        width: 300px;
    }
    .description__title{
        font-size: 1.5rem;
        padding-left: 32px;
    }
    .description__text{
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        width: 300px;
        flex-direction: column;
        padding-left: 32px;
    }
    .description_jisoo{
        background-image: url(../img/jisoo_cel.jpg);
        height: 300px;
        width: 640px;
    }
    .description_jennie{
        background-image: url(../img/jen_cel.jpg);
        height: 300px;
        width: 640px;
    }
    .description_rose{
        background-image: url(../img/rose_cel.jpg);
        height: 300px;
        width: 640px;
    }
    .description_lisa{
        background-image: url(../img/lisa_cel.jpg);
        height: 300px;
        width: 640px;
    }
    .description_jisoo:hover{
        background-image: url(../img/jisoo_cel.jpg);
        height: 300px;
        width: 640px;
    }
    .description_jennie:hover{
        background-image: url(../img/jen_cel.jpg);
        height: 300px;
        width: 640px;
    }
    .description_rose:hover{
        background-image: url(../img/rose_cel.jpg);
        height: 300px;
        width: 640px;
    }
    .description_lisa:hover{
        background-image: url(../img/lisa_cel.jpg);
        height: 300px;
        width: 640px;
    }
    .section_title{
        padding-left: 12px;
    }
    .albums{
        display: flex;
        flex-direction: column;
    }
    .album_e_nome{
        width: 250px;
        height: 250px;
    }
    .slider{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 200px;
        padding-top: 12px;
    }
    .slider a{
        padding-left: 100px;
    }
    .info_shows{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 200px;
    }
    .billboard{
        font-size: 2.5rem;
        max-width: 300px;
    }
    .billboard_comment{
        max-width: 200px;
        padding-left: 0px;
    }
    .bill_nome{
        margin-left: 10px;
    }
    .data{
        font-size: 20px;
    }
    .country{
        font-size: 24px;
    }
    .local{
        font-size: 20px;
    }
    .buy_tickets{
        flex-direction: row;
        font-size: 1rem;
       padding-bottom: 64px;
    }
    .seta{
        height: 10px;
        width: 10px;
    }
    .slideshow-container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
    }
    .linha-horizontal_2 {
        width: 10vh;
        border: 1px solid var(--pink-color);
    }
    .icons_social {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        align-self: flex-start;
        
    }
    .icons_social a{
        padding-left: 300px;
    }
    .social{
        align-self: flex-start;
    }
    .vlive{
        height: 3vh;
    }
    
    .copyright{
        padding-top: 64px;
        align-self: flex-start;
        padding-left: 155px;
    }
}