:root{
    --background-color: #191516;
    --pink-color: #F598AF;
    --lilac-color: #C1B1C1 ;
    --grey-color: #7A7A7A;
}
html{
    scroll-behavior: smooth;
}
body{
    display: grid;
    grid-template-areas: "content";
    background-color: var(--background-color);
    font-family: 'Raleway', sans-serif;
}
header{
    grid-area: content;
    display: flex;
    align-items: center;
    gap: 1000px;
    width: 100%;
    height: 100px;
    z-index: 666;
}
section{
    height: auto;
}
main{
    grid-area: content;
    display: flex;
    flex-direction: column;
}
footer{
    color: #fff;
    justify-content: center;
    align-content: center;
}