.section-home{
    max-width: 1770px;
    height: 85vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
    place-items: center;
    
}

.promotion-text-container{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promotion-text-container span{
    color: #ffffff;
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 700;
    font-size: 4rem;
}

.promotion-text-container p{
    color: #ffffff;
}

.promotion-image-container{
    grid-column: 2;
    grid-row: 1;
}

@media (max-width:640px){
    .section-home{
        height: 90vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .promotion-image-container{
        grid-column: 1;
        grid-row: 1;
    }

    .promotion-text-container{
        grid-column: 1;
        grid-row: 2;
    }


}

@media (max-width: 320px) {

    .section-home{
        padding: 10px;
        height: 85vh;
        max-width: 550px;
        width: 100%;
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 2;
    }

    .promotion-image-container{
        grid-column: 1;
        grid-row: 1;
    }

    .promotion-text-container{
        grid-column: 1;
        grid-row: 2;
    }

    .promotion-text-container span{
        font-size: 2rem;
    }
}