a{
    color: #ffffff;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: bold;
    font-size: 16px;
    gap: 35px;
}