a{
    color: #ffffff;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: bold;
    font-size: 1.5rem;
    gap: 35px;
}

@media(max-width: 640px){

    .menu{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #000;
        z-index: 1;
        font-size: 2rem;
        opacity: 0;
        gap: 64px;
    }

    .menu-burger-container.active ~ .menu{
        opacity: 1;
    }

    .menu-burger-container{
        position: absolute;
        display: flex;
        align-items: center;
        height: 36px;
        width: 36px;
        right: 30px;
        top: 30px;
        z-index: 2;
    }
  .menu-burger,
  .menu-burger::before,
  .menu-burger::after{
        position: absolute;
        content: "";
        display: block;
        background-color: #ffffff;
        height: 4px;
        width: 36px;
        border-radius: 5px;
        transition: all 1s;
    }
    .menu-burger::before{
        transform: translateY(-12px);
    }
    .menu-burger::after{
        transform: translateY(12px);
    }

    .menu-burger-container.active .menu-burger{
        background-color: transparent;
    }

    .menu-burger-container.active .menu-burger::before{
        transform: rotate(45deg);
    }
    .menu-burger-container.active .menu-burger::after{
        transform: rotate(-45deg);
    }
}

