.section-mobile{
    max-width: 1770px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.title-mobile-container{
    grid-row: 1 ;
    grid-column: 1;
    display: flex;
    align-items: flex-start;
    padding-left: 2.25vw;
    width: 12vw;
}


.title-mobile{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 4rem;
    color: #ffffff;
}

.promotion-container1{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}


.promotion-container1 span{
    color: #ffffff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
}

.promotion-container1 a{
    font-family: 'Ubuntu';
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 18vw;
    height: 10vh;
    font-size: 1.5rem;
    background: #ffff;
    border-radius: 30px;
    color: #000;
}

.promotion-text-container-mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 37.8vw;
    font-size: 2rem;
    grid-column: 2;
    color: #ffffff;
}

.promotion-container2{
    grid-row: 1;
    grid-column: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.promotion-container2 span{
    color: #ffffff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
}

.promotion-container2 a{
    font-family: 'Ubuntu';
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 18vw;
    height: 10vh;
    font-size: 1.5rem;
    background: #ffff;
    border-radius: 30px;
    color: #000;
}

@media (max-width:640px){
    .section-mobile{
        height: 210vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 120px 1fr 1fr 1fr;
    }

    .title-mobile-container{
        grid-row: 1;
        grid-column: 1/-1;
        padding-left: 0;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .title-mobile{
        font-size: 5rem;
    }

    .promotion-container1{
        grid-column: 1;
        grid-row: 2;
        gap: 56px;
    }

    .promotion-container1 span{
        font-size: 3rem;
    }

    .promotion-container1 a{
        width: 300px;
        height: 80px;
    }

    .promotion-text-container-mobile{
        grid-column: 1;
        grid-row:3;   
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .promotion-text{
        font-size: 3rem;
        gap: 10px;
    }

    .promotion-container2{
        grid-column: 1;
        grid-row: 4;
        place-self: center;
    }

    .promotion-container2 a{
        width: 300px;
        height: 80px;
    }

    .promotion-container2 span{
        font-size: 3rem;
    }
}

@media (max-width: 320px){

    .section-mobile{
        height: 200vh;
        max-width: 550px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 1fr 1fr;
    }

    .title-mobile-container{
        grid-row: 1;
        grid-column: 1;
        padding-left: 0;
        display: flex;
        align-items: center;
        gap: 56px;

}

    .promotion-container1{
        grid-column: 1;
        grid-row: 2;
        gap: 56px;
    }

    .promotion-container1 a{
        width: 263px;
        height: 73px;
    }

    .promotion-container1 img{
        width: 212px;
        height: 227px;
    }

    .promotion-text-container-mobile{
        grid-column: 1;
        grid-row:3;   
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        align-self: center;
    }

    .promotion-container2{
        grid-column: 1;
        grid-row: 4;
    }

    .promotion-container2 a{
        width: 263px;
        height: 73px;
    }

    .promotion-container2 img{
        width: 263px;
        height: 334px;
    }

}