.section-mobile{
    max-width: 1770px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.title-mobile-container{
    grid-row: 1 ;
    grid-column: 1;
    display: flex;
    align-items: flex-start;
    padding-left: 2.25vw;
    width: 12vw;
}


.title-mobile{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 4rem;
    color: #ffffff;
}

.promotion-container1{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    gap: 28px;
}


.promotion-container1 span{
    color: #ffffff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
}

.promotion-container1 a{
    font-family: 'Ubuntu';
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 23vw;
    height: 12vh;
    font-size: 1.5rem;
    background: #ffff;
    border-radius: 30px;
    color: #000;
}

.promotion-text-container-mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 37.8vw;
    font-size: 2rem;
    grid-column: 2;
    color: #ffffff;
}

.promotion-container2{
    grid-row: 1;
    grid-column: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    gap: 28px;
}

.promotion-container2 span{
    color: #ffffff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
}

.promotion-container2 a{
    font-family: 'Ubuntu';
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 23vw;
    height: 12vh;
    font-size: 1.5rem;
    background: #ffff;
    border-radius: 30px;
    color: #000;
}
