body{
    background-color: #000000;
    font-family: 'Montserrat';
}

header{
    max-width: 1770px;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menubar-container{
     display: none;
}

.menu li{
     border-bottom: 4px solid transparent;
     border-radius: 2px;
}

.menu li:hover{
     border-color: #fff;
     transition: border-color .4s;
}

footer{
     height: 10vh;
     width: 100%;
     color: #000;
     display: flex;
     justify-content: center;
     align-items: center;
     background: linear-gradient(180deg, #fff 100%, #fff 100%);
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 400;
     font-size: 1.5rem;
}

@media (max-width: 960px){
     .menu li{
          font-weight: 1.5rem;
     }
}

@media (max-width: 640px) {

    body{
     overflow-x: hidden;
    }
    
   header{
        height: 15vh;
        padding: 10px;
        width: 100%;
   }

   footer{
        font-size: 1rem;
   }

}

@media (max-width: 375px){

     header{
          height: 18vh;
     }

}


