.section-tab{
    max-width: 1770px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.title-tab-container{
    grid-column: 1;
    grid-row: 1;
    width: 9vw;
    display: flex;
    align-items: flex-start;
    padding-left: 2.25vw;
}

.title-tab{
    color: #fff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
}

.tab-text-container{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
}

.tab-text{
    color: #fff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
}

.tab-promotion-container{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.tab-promotion-container a{
    font-family: 'Ubuntu';
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 23vw;
    height: 12vh;
    font-size: 1.5rem;
    background: #ffff;
    border-radius: 30px;
    color: #000;
}