.info {
    background-image: url(../img/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    place-items: center;
    justify-content: center;
}

.fundo {
    place-items: center;
    color: #ffffff;
    background-color: #0008;
    height: 95%;
    width: 95%;
    display: grid;
    grid-template-areas: 'titulo titulo' 'informacao1 informacao2';
    grid-template-rows: auto 1fr;
}

.info-titulo {
    grid-area: titulo;
    font-weight: 400;
    height: 120px;
    width: 580px;
    text-align: center;
}

.info1,
.info2 {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    width: 450px;
}