* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
il,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: 'Berserk';
    src: url('../font/berserker-regular-font/Berserker-Regular.ttf') format('truetype');
}