section{
    height: 100vh;
}

::-webkit-scrollbar {
  width: 0px;
}

body{
    display: grid;
    grid-template-areas: "content";
    background: linear-gradient(90deg, #001131 29.69%, #002A7A 100%);
}

header{
    grid-area: content;
    height: 100px;
    background-color: #003f8783;
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding-left: 26px;
    padding-right: 26px;
    color: white;
}

.avatar-logo{
    width: 9%;
    max-width: 9%;
    min-width: 150px;
}

main{
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

#atlok_Personagens{
    width: 100%;
}

#elementos{
    width: 100%;
}

footer{
    height: 100px;
    background-color: black;
}

@media (max-width:640px){
    
    .nick_logo{
        display: none;
    }

}