.personagens {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--secundary-color);
}

.personagens__titulo {
  font-size: 4rem;
  font-weight: 800;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 80px;
  border: 1px solid var(--tertiary-color);
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  font-size: 1.5rem;
  transition: border-color 0.25s;
}

.button:hover {
  border: 1px solid var(--secundary-color);
  color: var(--secundary-color);
}

.cards {
  gap: 94px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--tertiary-color);
  filter: grayscale(100%);
  transition: 0.4s;
}
.card_image {
  border: 1px solid transparent;
}

.card-container:hover {
  filter: grayscale(0);
  border: var(--secundary-color);
  color: var(--secundary-color);
}

.card_image:hover {
  border-color: var(--secundary-color);
}
