.galeria{
    background-color: black;
}
.imagens-galeria{
    transition: 0.5s;
    overflow-y: hidden;
    overflow-x: hidden;
}
.imagens-galeria:hover{
    transform: scale(1.1);
}
.galeria-img-superior{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-top:50px;
    height: 900px;
}

.galeira-img-inferior{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-top:50px;
    height: 900px;
}
.titulo-footer{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.barra-footer{
    width: 100%;
}
.descricao-footer{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.titulo-galeria{
    font-size: 80px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
}

@media(max-width: 640px){

    .texto-galeria{
        font-size: 48px;
    }

    .galeria-img-superior{
        display: flex;
        flex-direction: column;
      
    }
   
    .galeira-img-inferior{
        display: flex;
        flex-direction: column;
    }
    
    .titulo-footer{
        font-size: 24px;
    }
    .imagens-galeria:hover{
        transform: scale(1);
    }
        
}