.conquistas{
    height: 920px;
    background-color: black;
    overflow-y: hidden;
}
.conteudo-conquistas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 300px;
}

.titulo-conquistas{
    font-size: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
.topico-conquistas{
    color: white;
    font-size: 32px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 200px;
}
.topicos-conquistas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    
}
.pontuacao{

    display: flex;
    flex-direction: row;
    width: 1200px;
}

@media(max-width: 640px){

    .conquistas{
        max-width: 640px;
    }

    .titulo-conquistas{

        margin-right: 400px;
    }
    .conteudo-conquistas{
        display: flex;
        flex-direction: column;
      

    }
    .topicos-conquistas{
        width: 840px;
        display: flex;
        margin-left: 100px;
    }

    .titulo-conquistas{
    font-size: 48px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    }
    .topico-conquistas{
    color: white;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    }
    .img-topico{
    height: 60px;
    width:  60px;
    }

.kobe-conquistas{
    margin-top: -300px;
    margin-left: 193px;
    height: 500px;
    width: 300px;
    
}


}
