.section-trajetoria{
background-image: url(../imgs/bg__section-trajetoria.png);
background-size:cover;
}
.titulo-trajetoria{
    font-size: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
.conteudo-trajetoria{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.linha-do-tempo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.retangulo{
    margin-top: 60px;
    height: 5px;
    width: 80px;
}
.desc-trajetoria{
    color: white;
    width: 300px;
}
.topico-trajetoria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-topico-trajetoria{
    height: 130px;
    width: 130px;
}
.botao-trajetoria{
   color: white;
}
.botao-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.botao-trajetoria{
    display: flex;
    margin-right: 650px;
    padding: 30px;
    background-color:#7C07A6;
    border-radius: 5%;
}

@media(max-width: 640px){
    
    .retangulo{
        display: none;
    }
    .linha-do-tempo{
        display: flex;
        flex-direction: column;
    }
    .titulo-trajetoria{
        font-size: 48px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: white;
    }
    .topico-trajetoria{
        gap: 15px;
    }
    .img-topico-trajetoria{
        height: 60px;
        width: 70px;
    }
    .desc-trajetoria{
        font-size: 12px;
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: white;
        width: 160px;
    }
    .botao-img{
        display: none;
    }
    


}