.home{
    background-image: url(../img/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.menu{
    display: flex;
    gap: 40px;
    font-size: 1.3rem;
}
.title-header{
    font-size: 5rem;
}
.bars{
    display: none;
}
.menu :hover{
    transition: 0.5s;
    color: var(--letras-color);
}