.home{
    background-image: url(../img/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.menu{
    display: flex;
    gap: 40px;
    font-size: 1.3rem;
}
.title-header{
    font-size: 5rem;
}
.bars{
    display: none;
}
.menu :hover{
    transition: 0.5s;
    color: var(--letras-color);
}
/*.bars.active .fa-solid fa-bars{
    background-color: transparent;
}

.bars.active .fa-solid fa-bars::before{
    transform: rotate(45deg);
}

.bars.active .fa-solid fa-bars::after{
    transform: rotate(-45deg);
}
.bars.active ~ .menu{
    opacity: 1;
    transform: translateX(0%);
}