.sobre{
    grid-template-areas: 
    "title title"
    "description-sobre capa";
    display: grid;
    grid-template-columns: 1300px 500px;
    grid-template-rows: 165px;

}
.title-sobre{
    grid-area: title;
    font-size: 5rem;
    padding-top: 50px;
    text-align: center;
    background-image: linear-gradient(rgba(20, 3, 3, 0.116), rgb(255, 1, 1));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.description-sobre{
    grid-area: description-sobre;
    display: flex;
    flex-direction: column;
    gap: 100px;
    font-size: 2rem;
    text-align: center;
    justify-items: center;
    padding: 150px;
}
.capa-manga{
    grid-area: capa;
    justify-content: center;
    place-self: center;
}