.sidenav {
  height: 50%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  font-size: 1.5rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #fedc00;
  transition: all 0.25s;
}

.sidenav .closebtn {
  position: absolute;
  top: 15px;
  right: 30px;
  font-size: 36px;
}

@media (max-width: 420px) {
  .sidenav {
    height: 100%;
  }
}
