.home{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(../images/home__image.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px -40px 40px #000;
}

.bars__icon,.logo{
    visibility: hidden;
}

.home__text{
    display: grid;
    flex-direction: column;
    gap: 32px;
    color: white;
    text-align: center;
}

.align__button{
    display: flex;
    justify-content: center;
    text-align: center;
}

.home__title{
    font-size: 4.5rem;
}

.home__description{
    font-size: 1.5rem;
    color: white;
}


.personalized__button{  
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
