.container__mpc{
    grid-area: "content";
    display: flex;
    justify-content: center;
    margin-left: 64px;
}

.list__home_products_contact{
    display: flex;
    gap: 64px;
    justify-content: center;
    font-size: 1.5rem;
}

.logo span{
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-size: 3.5rem;
    text-align: center;
    background-image: linear-gradient(to bottom, #2F93D0, #003580);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}


.search__bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__bar__decorated{
    width: 100%;
    max-width: 700px;
    border-radius: 60px;
    padding: 10px 20px;
}

.search__text{
    text-align: center;
    border-radius: 25px;
    font-size: 1.2rem;
    border: black;
    outline: black;
    font-family: 'Montserrat', sans-serif;  
}

.container__icons__client{
    margin-right: 70px;
    font-size: 1.5rem;
}

.icons__client{
    align-items: center;
    display: flex;
    gap: 45px;
}

.client{
    align-items: center;
    display: flex;
    gap: 48px;
}

