.racas {
    height: 110vh;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
}

.titlee {
    display: flex;
    font-size: 8rem;
    font-family: 'Piedra', cursive;
    font-weight: 400;
    justify-content: center;
    margin-top: 3px;
}

.name {
    display: flex;
    font-family: 'Updock', cursive;
    font-size: 3rem;
    font-weight: 800;
    justify-content: center;
    gap: 300px;
}

.racas-container {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    gap: 150px;
}

.card {
    position: relative;
    display: block;
    overflow: hidden;
}

.card-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 48px;
}

.card::before {
    content: "Clique aqui para mais informações";
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    background-color: #f8e89570;
    transform: translateY(100%);
    transition: .7s;
    border-radius: 130px;
}

.card:hover::before {
    transform: translateY(0%);
}

.outros {
    display: flex;
    font-size: 4rem;
    font-weight: 800;
    width: 90vw;
    justify-content: flex-end;
    font-family: 'Updock', cursive;
}

.outros li {
    border-bottom: 8px solid transparent;
    transition: border-color .5s;
}

.outros li:hover {
    border-color: var(--amareloEsc-color);
}