.sobre {
    height: auto;
}

.icon {
    display: grid;
    font-weight: 400;
    font-size: 6vw;
    gap: 26px;
    background-color: #F8E795;
}

.title_main {
    display: grid;
    font-family: 'Piedra', cursive;
    font-weight: 400;
    font-size: 6vw;
    color: black;
}

.sobre-gatos {
    display: grid;
    background-image: url(../img/fundo11.png);
    background-size: cover;
    width: 100%;
    height: 85vh;
    background-repeat: no-repeat;
}
.description-cat {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 370px;
    font-size: 1.8vw;
    font-family: 'Patrick Hand', cursive;
    text-shadow: black 0.2em 0.2em 0.3em;
}

.description-title {
    display: grid;
    width: 500px;
    margin-top: 50px;
    
    color: white;
}

.description-text {
    display: flex;
    flex-direction: column;
    color: white;
}