.descricao-filme{
    width: 100%;
    display: grid;
    grid-template-areas: 
    "diretor-filme frase pearl"
    "diretor-filme descricao-movie pearl";
    grid-template-columns: 19px 1fr 518px;
}
.frase-efeito{
    grid-area: frase;
    justify-self: center;
    place-content: center;
    place-self: center;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
    font-style: italic;
    justify-content: center;
}
.i {
    color: #330606;
}
.am {
    color: #641515;
}
.a {
    color: #501919;
}
.star {
    color: #FF0000;
}
.descricao{
    grid-area: descricao-movie;
    
}
.titulo {
    font-size: 4rem;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    color: #471818;
    margin-left: 144px;
    margin-top: 50px;
}
.lançamento {
    font-size: 1rem;
    color: #FF0000;
    margin-left: 355px;
}
.sobre-o-filme {
    font-family: 'Inter', sans-serif;
    margin-left: 245px;
    margin-right: 515px;
}
.botao-alugue{
    display: flex;
    justify-content: center;
}
.alugue-agora {
    display: flex;
    align-items: center;
    align-self: center;
    place-content: center;
    width: 226px;
    height: 46px;
    border-width: 1px;
    border-style: solid;
    border-color: #91000A;
    color: #91000A;
    transition: 0.6s;
    margin-top: 28px;
    background-color: #000;
}
.alugue-agora:hover {
    box-shadow: 0 0 8px #91000A,
        0 0 10px #91000A,
        0 0 20px #91000A;
}
.img-pearl img{
    grid-area: pearl;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    height: 980px;
    width: 518px;
}
.nome-do-filme{
    /* grid-area: pearl; */
    display: flex;
    white-space: nowrap;
    align-items: flex-start;
    align-self: flex-start;
    color: #86150F;
    transform: rotate(90deg);
}
.diretor{
    grid-area: diretor-filme;
    display: flex;
    white-space: nowrap;
    /* align-items: flex-start;
    align-self: flex-start; */
    place-self: end start;
    color: #86150F;
    transform: rotate(90deg);
    background-color: tomato;
}
@media (max-width: 960px) {
    .descricao-filme{
        height: 70rem;
        display: flex;
        flex-direction: column;
        background-image: url(../img/img-pearl.png);
        background-repeat: no-repeat;
        background-size: 700px 1100px;
    }
    
    .titulo{
        margin-left: 29px;
    }
    .lançamento{
        margin-left: 47px;
    }
    .sobre-o-filme {
        font-family: 'Inter', sans-serif;
        margin-left: 43px;
        margin-right: 90px;
    }
    .img-pearl{
        position: absolute;
        z-index: -100;
        opacity: 50%;

    }
    .nome-do-filme{
        display: none;
    }
    .diretor{
        display: none;
    }
}