.elenco{
    max-width: 1900px;
    
}
.titulo-elenco{
    font-size: 4rem;
    color: #471818;
    font-style: italic;
    font-weight: 600;
    margin-left: 29px;
    margin-bottom: 31px;
}
.atores-um,
.atores-dois{
    display: flex;
    place-content: center;
    gap: 106px;
    margin-top: 60px;
}
.fotos-pearl{
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: #46090D;
    width: 472px;
    height: 183px;
    border-radius: 800px;
    color: #000;
    font-size: 2rem;
}
.name-mia, 
.name-martin,
.name-jenna,
.name-britanny,
.name-kid,
.name-owen,
.name-ure{
    font-style: italic;
    color: #46090D;
    font-family: 'Inter', sans-serif;
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}
.description-mia,
.description-martin,
.description-jenna,
.description-britanny,
.description-kid,
.description-owen,
.description-ure{
    font-family: 'Inter', sans-serif;
    width: 300px;
    text-align: center;
    
}
.descricao-martin,
.descricao-jenna,
.descricao-mia,
.descricao-britanny,
.descricao-kid,
.descricao-ure,
.descricao-owen{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    text-align: center;
}
@media (max-width: 960px) {
    .elenco{
        height: 200rem;
    }
    .atores-um,
    .atores-dois {
        display: grid;
        place-content: center;
        gap: 106px;
        margin-top: 60px;
        }
}
