.footer-menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
}
.link-git{
    display: flex;
    opacity: 0.41;
    gap: 8px;
}
.bio{
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 13px;
    font-style: italic;
    font-family: 'Inter', sans-serif;
    width: 120px;
    
}
.perfil{
    font-size: 9px;
}
@media (max-width: 960px) {
    .footer-menu{
        align-items: center;
    }
    .x-logo{
        display: none;
    }
}