html{
    scroll-behavior: smooth;
}
body{
    display: grid;
    grid-template-areas: "content";
    background-color: black;
    font-family: 'Inter', sans-serif;
    font-family: 'Rubik', sans-serif;
}
header{
    place-self: start center;
    grid-area: content;
    width: 100%;
    z-index: 1;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-left: 53px;
    padding-right: 53px;
}
main{
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    height: 100vh;
    
}
.home{
    background-color: cadetblue;
}
.descrição-filme{
    background-color: darkgreen;
}
.elenco{
    background-color: darkslategrey;
}
.concept{
    background-color: forestgreen;
}
.cartazes{
    background-color: green;
}
footer{
    place-self: end start;
    grid-area: content;
    height: 156px;
    width: 100%;
    display: grid;
    place-content: center;
    background-color: #480005;
}
