.movies {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 150px;
}



.card-container {
    position: relative;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
    padding: 10px;
    top: -85px;
}

.card {
    display: block;
    position: relative;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}

.card::before {
    content: "Click aqui para saber dos filmes !";
    background-color: #0009;
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    place-content: center;
    font-weight: 700;
    transform: translateY(100%);
    transition: transform 0.5s;
}

.card:hover::before {
    transform: translateY(0%);
}

