header{
height: 262px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 40px;
overflow-y: hidden;
}
.menu-hamburger{
 visibility: hidden;

}
a{
    text-decoration: none;
    color: white;
}
.logo-KobexNike{
height:262px;
width:194px;
}
ul{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 48px;   
font-weight: 500px;
width: 1000px;
display: flex;
flex-direction: row;
justify-content: space-around;}

.topico-nav {
    position: relative;
    color: #fff;
    text-decoration: none;  
  }
  
  .topico-nav:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: purple;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .topico-nav:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  .voltar{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    right: 16px;
    bottom: 16px;
    display: grid;
    place-content: center;
    font-size: 1rem;
    font-weight: 100;
    transition: all .5s;
    color: white;
    background-color: black;
}
.voltar:hover{
    color:black;
    background-color: yellow;
}

/*responsividade*/


@media(max-width: 640px){

    .logo-KobexNike{
        height: 119px;
        width: 89px;
    }
    ul{
        display: none;
    }

 
    
}