header{
    display: flex;
    
    align-items: center;
}
.logo{
    display: flex;
    font-size: 2.2rem;
    font-weight: 700;
    gap: 5px;
    width: 100px;
}

.logo_simbolo{
    display: flex;
    gap: 5px;
}

.amarelo{
    animation-duration: 2s;
    width: 35px;
    height: 35px;
    background-color: var(--third-color);
    
}
.azul{
    animation-duration: 3s;
    width: 35px;
    height: 35px;
    background-color: var(--secundary-color);
}

.vermelho{
    animation-duration: 4s;
    width: 35px;
    height: 35px;
    background-color: var(--primary-color);
}

.menu{
    display: flex;
    gap: 35px;
    font-size: 20px;
    font-weight: 500;
}
.menu li {
    border-bottom: 4px solid transparent;
    transition: border-color .3s;
}

li:hover{
    border-color: #ffffff;
}