*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}
html{
    scroll-behavior: smooth;
}