:root{
    --primary-color: #d12222;
    --secundary-color:#1f65fc;
    --third-color:hsl(45, 91%, 54%);
}

body{
    display: grid;
    font-family: 'Ubuntu', sans-serif;
    grid-template-areas:
     "content";
    

}
::-webkit-scrollbar {
    display: none;
    width:10px;
    height: 10px;
    }
     
    /* aqui é para personalizar o fundo da barra, neste caso estou colocando um fundo cinza escuro*/
    ::-webkit-scrollbar-track {
    background:#212121;
    }
     
    /* aqui é a alça da barra, que demonstra a altura que você está na página
    estou colocando uma cor azul clara nela*/
    ::-webkit-scrollbar-thumb {
    background: #212121;
    }
header{
    
        
    grid-area: content;
    z-index: 1;
    max-width: 100%;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    place-self: start center;
    
}
main{
  background-color: #000000;
  width: 100%;
  height: 100vh;
   
}
section{
    height: 100vh;
    background-color: #ffffff;
}

.home{
    background-color: #000000;
}

.fulfilment{
    width: 100%;
   background-color: #212121;
    
}
.solutions{
    width: 100%;
    background-color: #212121;
}
.delivery{
    width: 100%;
    background-color: #212121;
}
.contato{
    width: 100%;
    background-color: #212121;
    
}