.home{
    background-image: url(../img/backgroundPrincipal.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.parte-cima{
    display: flex;
    gap: 120px;
    grid-area: content;
    align-items: center;
    justify-content: center;
}
.lista{
   
        border-bottom: 4px solid transparent;
        transition: border-color 0.5s ;
    

}
.links{
    display: flex;
    gap: 72px;
    font-size: 2.5rem;
    color: #fff;
}
.logo{
    height: 288px;
    width: 443px;
    padding-left: 50px;
}
.home__text{
    display: flex;
    padding-top: 400px; 
    font-size: 9vh;
    padding-left: 300px;
    
    background: -webkit-linear-gradient(top, #1D45AC 50%, #BF00DE 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    -webkit-text-stroke: 1.5px #000;

}
/* MOBILE */
@media (max-width:640px) {
    .home{
        background-position: center;
    }
    .logo1 img{
        display: grid;
        place-self: center;
    }
    .parte-cima{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        max-height: 292px;
    }
    .home__text{
        display: flex;
        padding-left: 30px;
        padding-bottom: 50px;

    }
    .lista{
        display: none;
    }
}