.novos-inimigos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
}

.titulo__text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    font-size: 8vh;
}

.circulo-gif {
    display: flex;
    align-items: center;
    justify-content: center;
    background: blueviolet;
    border-radius: 50%;
    width: 900px;
    height: 900px;
}

.gif img{
    border-radius: 50%;
    width: 900px;
    height: 900px;

}
@media (max-width:640px){
    .circulo-gif{
        display: flex;
        background: none;
        width: 500px;
        height: 500px;
    }
    .gif img{
        width: 500px;
        height: 500px;
    
    }
    .container{
        display: none;
    }
    .titulo__text{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}