.cardapio{
    background-color: #000;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas: 
    "title title foto"
    "ttext ttext foto"
    "ttext2 ttext2 foto"
    ;
}

.title{
    text-align: center;
    margin-left: 15vw;
}

.card-text{
    grid-area: ttext;
    margin-left: 15rem;
    font-family: 'Lalezar', cursive;
}

.card-foto{
    grid-area: foto;
    background-image: url(../IMG/fotoCardapio.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.porcoes{
    display: flex;
    font-size: 2rem;
    align-items: center;
    gap: 30px;
}

.title-2{
    font-size: 2.5rem;
    padding-bottom: 30px;
}

.card-text2{
    grid-area: ttext2;
    margin-left: 15rem;
    font-family: 'Lalezar', cursive;
}

.bebidas{
    display: flex;
    font-size: 2rem;
    align-items: center;
    gap: 30px;

}


