.contato{
    width: 100%;
    background-image: url(../IMG/churrasco-para-churrascaria1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "title title title"
    "contato compre links";
    text-align: center;
    font-family: 'Lalezar', cursive;
    font-size: 2rem;
}

.contato h3{
    font-size: 4rem;
}

.contato-container{
    grid-area: contato;
    display: flex;
    flex-direction: column;
    gap: 51px;
}

.compreAqui{
    grid-area: compre;
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.link-container{
    grid-area: links;
    display: flex;
    flex-direction: column;
    gap: 20px;
}