:root{
    --primary-line-color: #14DFDF;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
    color: white;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
	
}

section {

    height: auto; /* ou 100vh */
    background-color:#941df5;
    background: linear-gradient(-45deg, #8e52ee, #8c3ce7, #b723d5, #aa06c0);
	
    
}

.titulo-subtitulo-home{
    display: flex;
    justify-content: space-between;
}

.menu{
    padding-top: 7px;
    padding-right: 20px;
}

.menu li:hover{
    border-color:var(--primary-line-color);
 }

#titulo {
    font-family: sans-serif;
    font-size: 1.3rem;
    
    padding-top: 5px;
    padding-left: 5%;
}

#subtitulo {
    font-family: sans-serif;
    padding-top: 15px;
    padding-left: 10px;
}

fieldset {
    border: 0;
}

.nome {
    display: flex;
    align-items: center;
    gap: 20px;
}

.grupo-checkboxs-Pizzas {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.grupo-nome-sobrenome {
    padding-top: 20px;
    padding-left: 5px;
    display: flex;
    gap: 32px;

}

#caixa_texto_sobrenome{
    margin-right: 5px;
}

.grupo-telefone {
    padding-top: 10px;
    padding-left: 5px;
}

.grupo-Avaliacao {
    padding-top: 30px;
    padding-left: 5px;
    display: flex;

}

#check-avalicao {
    display: flex;
    gap: 10px;
}

.check-avalicao-nota {
    display: flex;
    gap: 10px;
}

.grupo-pagamento {
    padding-top: 10px;
    padding-left: 5px;
}

.grupo-checkboxs-Pizzas {
    padding-top: 30px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.checkbox-Pizzas {
    padding-top: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.escolha-de-pedido-container-button {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    gap: 20px;

}

.Escolha-de-pedido {
    display: flex;
    padding-left: 5px;
    flex-direction: column;
    padding-top: 30px;
    gap: 10px;
}

#escolha-pedido-texto{
    width: 100%;
}

.texto {
    height: 70px;

}

.formulario-container-button {

    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-right: 50px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FDA701;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 50px;


    font-family: 'Sacramento', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 67px;
    color: white;
}

.button:hover{
    border: none;
    padding: 15px;
    border-radius: 50px;
    box-shadow: inset 0 0 25px #9efc07;
  }

@keyframes gradient {
	0% {
		background-position: 0% 50%;

	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media(max-width:940px) {
    body{
        display: flex;
        justify-content: flex-start;
    }
    .Formulario{
        height: auto;
    
    }
}

@media(max-width:640px) {
    
    .Formulario{
        height: auto;
    
    }
    .grupo-nome-sobrenome {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #caixa_texto_nome {
        margin-left: 16px;
    }

    #caixa_texto_telefone {
        margin-left: 16px;
    }

    .grupo-Avaliacao {
        display: flex;
        flex-direction: column;
    }

    #check-avalicao {
        display: flex;
        flex-direction: column;
        
    }

    .grupo-pagamento{
        margin-top: 10px;
    }

    .escolha-de-pedido-container-button {
        display: flex;
        flex-direction: column;
    }

    #escolha-pedido-texto{
        width: 69%;
    }
    
}