.destinos{
    display: flex;
    gap: 3.6vw;
    flex-direction: column;
    text-align: center;
    height: auto;
}
.destinos p{
    font-weight: 300;
    color: black;
}
.destinos img{
    width: 45vw;
    height: auto;
}
.destinos__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 65px;
}
.destinos__title{
    font-size: 3.5vw;
    display: flex;
    justify-content: center;   
}
.destinos__description{
    display: flex;
    font-size: 1.8vw;  
    align-self: center;
    max-width: 1200px;
    width: 100%;
}
.destinos__lugares p{
    font-size: 3vw;
}
.destinos__lugares div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 9.3vw;
}
.destinos__lugares div p{
    align-self: center;
    max-width: 300px;
    width: 100%;
}
.destinos__lugares img:hover{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: 1s;
}
.mob{
    display: none;
}
@media (max-width: 960px){
    .destinos{
        margin-bottom: 50px;
    }
    .destinos__description{
        justify-content: center;
        font-size: 2.4vw;
    }
    .destinos__title{
        font-size: 4vw;
    }
}
@media (max-width: 420px){  
    .destinos__title{
        font-size: 6vw;
    }
    .destinos p{
        font-size: 4vw;
    }
    .destinos__lugares{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6vh;
    }
    .destinos__lugares div{
        flex-direction: column;
        justify-content: center;
        gap: 1px;
    }
    .destinos__lugares div img{
        width: 90vw;
        justify-self: center;
    }
    .desk{
        display: none;
    }
    .mob{
        display:inline-block;
    }
}