.destinos{
    display: flex;
    gap: 50px;
    flex-direction: column;
    text-align: center;
    height: auto;
}
.destinos p{
    font-weight: 300;
    color: black;
}
.destinos img{
    width: 45vw;
    height: auto;
}
.destinos__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 65px;
}
.destinos__title{
    font-size: 3.5vw;
    display: flex;
    justify-content: center;   
}
.destinos__description{
    display: flex;
    font-size: 1.8vw;  
    align-self: center;
    max-width: 1200px;
    width: 100%;
}
.destinos__lugares p{
    font-size: 3vw;
}
.destinos__lugares div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:180px;
}
.destinos__lugares div p{
    align-self: center;
    max-width: 300px;
    width: 100%;
}
.destinos__lugares img:hover{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: 1s;
}