.sobre{
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: center;
    align-content: center;
    gap: 15vw;
}
.sobre p{
    font-weight: 300;
    color: black;
}
.sobre__info{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 5vh;
    flex-direction: column;
    max-width: 890px;
    width: 100%;
  
}
.sobre__title{
    font-size: 4rem;
}
.sobre__description{
    font-size: 2.25rem;
}
.img-turista{
    width: 25vw;
    height: auto;
    align-self: center;
}