#home{
    justify-content: center;
    text-align: center;
    padding-top: 40vh;
    height: auto;
    
    
}
.home_photo{
    width: 76%;
}
.sobre{
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    gap: 3vh;
    height: auto;
}
.sobre-text{
    display: grid;
    font-family: 'Montserrat', sans-serif;
    color: #ffff;
    max-width: 37%;
    height: auto;
    background-color: var(--prime-color-dark);
}
.person_photo{
    max-width: 38%;
}
.sobre-text p{
    place-self: center;
    height: auto;
    max-width: 90%;
    font-size: 2.2rem;
   
}
@media (max-width: 1640px){
    #home{
        padding-top: 20vh;
    }
    .sobre-text p{

        font-size: 1.8rem;
       
    }
}
@media (max-width: 825px) {

}
@media (max-width: 980px) {
    #home{
        padding-top: 20vh;
    }
    .sobre{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 5vh;
        max-width: 76%;
        margin-left: 12%;
        
    }
    .sobre-text{
        display: grid;
       
        max-width: 100%;

    }
    .person_photo{
        max-width: 100%;
    }
    .sobre-text p{
        place-self: center;
        height: auto;
        max-width: 80%;
        font-size: 1.6rem;
       
    }
}
@media (max-width: 660px) {

    .sobre{
        padding-top: 2vh;
    }
    .sobre-text p{

        font-size: 1.4rem;
       
    }
}
@media (max-width: 440px) {


    .sobre-text p{
        max-width: 85%;
        font-size: 1.2rem;
       
    }
}
@media (max-width: 415px) {
    #home{
        padding-top: 12vh;
    }

    .sobre-text p{
        max-width: 90%;
        font-size: 1rem;
       
    }
}