.footer-contato {
    height: 30vh;
    background-color: #3A3333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.informacoes-contato {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 50px;
}

.informacoes-contato a {
    font-size: 1.25rem;
    font-weight: 400;
}

.footer-contato h3 {
    font-size: 1.25rem;
    font-weight: 400;
}

.social-media {
    display: flex;
    align-items: center;
    gap: 40px;
    transition: 1s;
}

.suporte {
    transition: 1s;
}

.suporte:hover {
    color: var(--primary-color);
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

#facebook:hover {
    color: var(--primary-color);
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

#twitter:hover {
    color: var(--primary-color);
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

#linkedin:hover {
    color: var(--primary-color);
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

#youtube:hover {
    color: var(--primary-color);
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

@media (max-width: 660px) {

    .informacoes-contato {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        align-items: center;
    }

    .footer-contato h3 {
        font-size: 0.8rem;
    }
}