Header {
    position: relative;
    display: grid;
    padding: 10px;
    place-items: center;
}

.cabecalho-home-um {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;

}

Main {
    height: 100vh;
}

.lista-cabecalho-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
    
}