.movies {
  background-color: #353535;
  padding-bottom: 40px;
}

.movies__title {
  margin: 30px 0px;
  font-size: 3rem;
  text-align: center;
}

.movies__title:hover {
  color: #fedc00;
  transition: all 0.5s;
}

.movies__title::after {
  content: "";
  display: block;
  border-bottom: 4px solid #fedc00;
  width: 85px;
  margin: 20px auto 8px auto;
}

.movies-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-items: center;
  gap: 64px;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie:hover {
  cursor: pointer;
}

.movie__image {
  width: 350px;
  height: 280px;
  border-radius: 20px;
}

.movie__title {
  font-size: 2rem;
  margin: 40px 0px;
  text-align: center;
}

.movie__title::after {
  content: "";
  display: block;
  border-bottom: 4px solid #fedc00;
  width: 35px;
  margin: 20px auto 8px auto;
}

.movie__text {
  margin: 0px 30px;
  max-width: 350px;
  font-size: 1.5rem;
  text-align: center;
  display: none;
}
