.download{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.download h3{
    font-size: 32px;
    font-weight: 100;
}
.download__container{
    padding-top: 95px;
    display: flex;
    flex-direction: row;
    gap: 300px;
}
.mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 31px;
}
.desktop{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 31px;
}
@media(max-width:770px){
    .download{
        height: 150vh;
    }
    .download__container{
        padding-top: 95px;
        flex-direction: column;
        gap: 100px;
    }
}