.fenomenos {
    height: 100vh;
    margin: 7vh 6vw 0 6vw;
}

.descricao-fenomeno {
    width: 22vw;
    height: auto;
    background-color: #D9D9D9;
    border-radius: 30px 30px 30px 30px;

}

.descricao-fenomeno>p {
    text-align: center;
    font-size: 1.3rem;
    margin: 10px 20px;
}

.descricao-fenomeno p:last-child {
    padding-bottom: 20px;
}

.lista-fenomenos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista-fenomenos>.fenomeno-da-lista>article {
    width: 22vw;
}

.imagem-fenomeno {
    border-radius: 30px 30px 0 0;
    width: 22vw;
    height: 30vh;
}

.titulo-fenomeno {
    align-items: center;
}

.titulo-fenomenos>h2 {
    text-transform: uppercase;
    width: 500px;
    background-color: var(--color-verde);
    font-size: 2.8rem;
    font-family: 'Heebo', sans-serif;

}

.titulo-fenomenos>h3 {
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 50px;
}

.nome-fenomeno {
    color: var(--color-azul);
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: none;
    text-align: center;
    margin-bottom: 20px;
}

.barra {
    margin: auto auto;
    width: 3px;
    background-color: var(--color-verde);
    height: 375px;

}

/* @media (max-width: 1700px){
    .lista-fenomenos> .fenomeno-da-lista>article {
        width: 25vw;
    }
}

@media (max-width: 1700px){
    .lista-fenomenos> .fenomeno-da-lista>article {
        width: 30vw;
    }
} */

@media (max-width: 940px) {
    .fenomenos {
        height: auto;
        margin: 7vh 6vw 10vw 6vw;
    }

    .descricao-fenomeno {
        width: 320px;
    }

    .lista-fenomenos {
        max-width: 800px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .imagem-fenomeno {
        border-radius: 30px 30px 0 0;
        width: 320px;
        height: 30vh;
    }

    .lista-fenomenos>.fenomeno-da-lista>article {
        width: 320px;
    }


}

@media (max-width: 640px) {
    .fenomenos {
        width: auto;
        margin: 5vh 0px;

    }

    .titulo-fenomenos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .titulo-fenomenos>h2 {
        width: 280px;
        text-align: center;
    }

    .titulo-fenomenos>h3 {
        margin-top: 0.5vh;
        font-size: 1.3rem;
    }

    .lista-fenomenos {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .fenomeno-da-lista:not(:last-child)::after {
        content: "";
        display: block;
        margin: 70px 0px;
        border-bottom: 3px solid turquoise;
    }

    .barra {
        display: none;
    }

}