.logo {
    height: 55px;
    width: 55px;
}

.logo:hover {
    -webkit-transform: scale(0.5);
    transform: scale(1.1);
    transition: .2s;
    box-shadow: 1px 1px 10px #fff;
    border-radius: 100%;
}

.menu {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 50px;

}

.menu>li {
    border-bottom: 3px solid transparent;
    transition: border-color .5s;
}

.menu li:hover {
    border-color: #fff;
}

.menu>li>a:hover {
    text-shadow: 1px 1px 10px #fff;
}

.menu>li>a {
    color: #fff;
    text-transform: uppercase;
}

.bars {
    display: none;
}

@media (max-width: 940px) {

    #icon-half-menu {
        display: block;

    }

    .bars {
        display: block;
        font-size: 30px;
        color: #fff;
    }

    .menu>li>a {
        display: none;
    }
}

@media (max-width: 640px) {

    nav {
        display: block;
    }

    .menu {
        display: none;
    }

    .sidenav {
        display: block;
    }


    .bars {
        display: block;
        font-size: 30px;
        color: #fff;
    }

    .menu>li>a {
        display: none;
    }

}