* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    ;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}