.alianca_prata{
    position: absolute;
    left: 10%;
    top: 227%;
}
.colar_prata{
    position: absolute;
    left: 10%;
    top: 251%;
}
.anel_prata{
    position: absolute;
    left: 10%;
    top: 275%;
}
.brinco_prata{
    position: absolute;
    left: 65%;
    top: 227%;
}
.pulseira_prata{
    position: absolute;
    left: 65%;
    top: 251%;
}
.relogio_prata{
    position: absolute;
    left: 65%;
    top: 275%;
}