.anel_ouro{
    position: absolute;
    left: 10%;
    top: 128%;
}
.colar_ouro{
    position: absolute;
    left: 10%;
    top: 153%;
}
.alianca_ouro{
    position: absolute;
    left: 10%;
    top: 178%;
}
.brinco_ouro{
    position: absolute;
    left: 65%;
    top: 128%;
}
.pulseira_ouro{
    position: absolute;
    left: 65%;
    top: 152%
}
.relogio_ouro{
    position: absolute;
    left: 65%;
    top: 178%
}
