.kratos {
    background-image: url(../img/background-omega.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "kratos title"
        "kratos informacao "
        "kratos imagem";
}

.kratos__personagem {
    height: 1000px;
    margin-top: 40px;
    margin-left: 11rem;
    grid-area: kratos;
}

.title__kratos {
    display: flex;
    align-items: flex-end;
    font-size: 3.5rem;
    font-weight: 550;
    color: var(--primary-color);
    grid-area: title;
}

.informacao__kratos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 2rem;
    font-weight: 100;
    width: 800px;
    color: var(--primary-color);
    grid-area: informacao;
}

.imagem__kratos {
    margin-left: 8rem;
    grid-area: imagem;
}

@media(max-width: 640px) {
    .kratos {
        width: 100%;
        height: 150vh;
        background-position: center;
        background-size: cover;
        background-size: 100vw;
        background-size: 100vh;
        background-color: #000;
        grid-template-areas:
            "title"
            "kratos"
            "informacao";
    }

    .title__kratos {
        display: flex;
        align-items: flex-start;
        font-size: 10vw;
        margin-top: 50px;
        margin-left: 50px;
        grid-area: title;
    }

    .kratos__personagem {
        height: 70vh;
        margin-left: 1vw;
        grid-area: kratos;
    }

    .informacao__kratos {
        display: flex;
        align-items: flex-start;
        margin-left: 5vw;
        font-size: 1.1rem;
        width: 90vw;
        grid-area: informacao;
    }

    .imagem__kratos {
        display: none;
    }

}