.sobre {
    background-image: url(../img/background-sobre.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 110vh;
    display: grid;
    grid-template-areas:
        "titulo"
        "sobre";
}

.title__sobre {
    display: flex;
    align-items: flex-end;
    margin-left: 200px;
    height: 450px;
    width: 35vw;
    color: var(--primary-color);
    font-size: 3.5rem;
    font-weight: 300;
}

.informacoes__sobre {
    display: flex;
    align-items: flex-start;
    margin-left: 200px;
    width: 900px;
    font-size: 2rem;
    height: 350px;
    color: var(--primary-color);
    font-weight: 500;
}

@media(max-width: 640px) {
    .sobre {
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: center;
    }

    .title__sobre {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 500;
        width: 85vw;
        margin-left: 5vw;
    }

    .informacoes__sobre {
        display: flex;
        align-items: flex-start;
        font-size: .9rem;
        width: 95vw;
        margin-left: 5vw;
    }

}