.fundadores{
    display: flex;
    /* display: grid; */
    max-width: 1200px;
    width: 100%;
    /* grid-template-areas: 
    "title"
    "fundadores";
    grid-template-rows: auto;
    grid-template-columns: 1fr; */
    flex-direction: column;
    align-items: center; 
    gap: 50px;
}

.logo{
    grid-area: title;
    margin-right: 100px;
    width: 100px;
    height: 120px;
}

.nome-fundadores{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 60px;
    font-size: 1.25rem;
}
/* .fundador{
    align-items: center;
    flex-direction: row;
    gap: 70px;
    font-size: 1.75rem;

} */

/* .fundadores__name{
    font-size: 2.10rem;
} */