.museu{
    max-width: 1200px;
    width: 100%;
    display: grid;
    margin-top: 15%; 
    grid-template-areas: 
    "title title" 
    "text slider"; 
    grid-template-rows: auto 1fr; 
    grid-template-columns: 1fr 1fr; 
    gap: 64px;
}

.text{
    grid-area: text;
    display: flex;
    flex-direction: column;
    gap: 32px;
    
}
.text__title{
    font-size: 40px;
}
.text__description{
    text-align: justify;
    font-weight: lighter;
    font-size: 1.65rem;
    width: 80%;
    line-height: 150%;
    /* padding-left: 10%;  */
}

.slider {
    grid-area: slider;
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    /* margin-top: 20px; */
    gap: 32px;
    /* align-items: center; */
    /* position: relative; */
}
.slider__title{
    font-size: 40px;
}

.slider li {
    list-style: none;
    position: absolute; 
}

.slider img {
    margin: auto;
    height: 340px ; 
    width: 465px;
    vertical-align: top;
    opacity: 0;
    visibility: hidden;
}
.slider input {
    display: none;
}
.slider label {
    background-color: black;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    width: 10px;
    position: absolute;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}
.slider li:nth-child(4) label{
    left: 100px;
}
.slider li:nth-child(5) label{
    left: 130px;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}