.sobre{
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "title"
    "text";
    grid-template-rows: auto;
    grid-template-columns: 1fr;
}

.section-title{
    grid-area: title;
    font-weight:bold;
    font-style: italic;
    text-align: center;
    font-size: 130px;
}
.text{
    grid-area: text;
    font-weight: lighter;
    text-align: justify;
    font-size: 1.65rem;
    width: 100%;
    line-height: 150%;
}

@media (max-width: 960px) {
    .sobre{
        display: flex;
        margin-top: 20px; 
        /* height: 80vh; */
        flex-direction: column; 
    }
    .section-title {
        font-size: 150px;
        text-align: center;
    }
    .text{
        grid-area: text;
        display: flex;
        width: 80%;
        text-align: center; 
        font-size: 1.60rem;
        margin-left: 5px;  
        

    }
}