.menu {
    display: flex;
    gap: 72px;
    font-size: 1.30rem;
    color: #eead2d;
    font-family: 'Trade Winds', cursive;
}

.menu li {
    border-bottom: 4px solid transparent;
    transition: border-color .5s;
}

.menu li:hover {
    border-color: #eead2d;
}

.box {
    display: none;
}

.neon {
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
    display: inline-block;
    color: #eead2d;
    padding: 16px 64px;
    border: #eead2d 8px solid;
    border-radius: 16px;
    box-shadow: inset 0 0 32px 0 #eead2d, 0 0 32px 0 #eead2d;
    text-shadow: 0 0 8px hsl(0 0% 100% / 0.3), 0 0 32px;
    position: relative;
}


/* Reflexo do botão */

.neon::before {
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    background: #eead2d;
    width: 100%;
    height: 100%;
    transform: perspective(64px) rotateX(40deg) scale(1, 0.35);
    filter: blur(64px);
    opacity: 0.7;
    pointer-events: none;
}

.neon::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 128px 32px #eead2d;
    opacity: 0;
    background-color: #eead2d;
    z-index: -1;
    transition: opacity 100ms linear;
}

.neon:hover::before,
.neon:hover::after {
    opacity: 1;
}

.neon:hover {
    color: #31202b;
}