/* MOBALE */
@media screen and (max-width:500px){
    :root{
        --space-default: 30px;
    } 
    body{
    width: 100vw;
    }
    main{
        grid-template-columns: 1fr; 
    }
    .home{
    display: flex;     
    width: 100%;
    height: 400vh;
    background-image: url(../img/avatar-mobale.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: none;
    max-width: 100%;
    place-self: center;
}
    .menu{
    display: none;
    }
   




}