.home{
    width: 100%;
    background-image: url(../img/capa_doce.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    
}
.titulo_home{
    display: flex;
    margin-left: 50%;
    margin-top: 10%;
    color: #387632;
    font-size: 5.5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Odor Mean Chey', serif;
    width: 800px;
}

/*Mobile*/
@media (max-width:960px) {
    
    
    .titulo_home{
        margin-left: 80px;
        font-size: 80px;
    }

    
    
}

/*Tablet*/
@media (max-width:640px) {
    
    
    
}